Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

APPID and App Name corrected
  SigookApp/android/app/build.gradle.kts
  SigookApp/ios/Flutter/Staging-Debug.xcconfig
  SigookApp/ios/Flutter/Staging-Profile.xcconfig
  SigookApp/ios/Flutter/Staging-Release.xcconfig
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/sigook-build-log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Useless files deleted
  SigookApp/AZURE_DEVOPS_COMPLETE_SETUP.md
  SigookApp/DEPLOYMENT_APPROVAL_SETUP.md
  SigookApp/IOS_TESTFLIGHT_COMPLETE_GUIDE.md
  SigookApp/PIPELINE_SETUP_GUIDE.md
  SigookApp/PLAYSTORE_COMPLETE_GUIDE.md
  SigookApp/PLAY_STORE_DEPLOYMENT_SETUP.md
  SigookApp/scripts/build_ios_production.ps1
  SigookApp/scripts/build_ios_production.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Add GEM_HOME and PATH exports for Fastlane verification in pipeline
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Reduce JVM arguments for Gradle to optimize memory usage
  SigookApp/android/gradle.properties
Due: .azure-pipelines/sigookapp-pipeline.yml

Reduce JVM arguments in gradle.properties to optimize memory usage
  SigookApp/android/gradle.properties
Due: .azure-pipelines/sigookapp-pipeline.yml

Increase JVM arguments in gradle.properties for improved performance
  SigookApp/android/gradle.properties
Due: .azure-pipelines/sigookapp-pipeline.yml

.env files fixed. ci_post_clone fixed
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.vscode/launch.json
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/core/config/env_loader.dart
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/main.dart
  SigookApp/lib/main_local.dart
  SigookApp/lib/main_production.dart
  SigookApp/lib/main_staging.dart
  SigookApp/pubspec.yaml
  SigookApp/scripts/build_android_production.ps1
  SigookApp/scripts/build_android_production.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

.env files fixed. ci_post_clone fixed
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/ios/ci_scripts/log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Delete SigookApp/ios/ci_scripts/log.txt
  SigookApp/ios/ci_scripts/log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Test
  SigookApp/README.md
Due: none

Test
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Remove unused using directive for Covenant.Billing.Utils in UsaInvoiceService
  Covenant.Api/Covenant.Core.BL/Services/Invoices/UsaInvoiceService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Add cleanup steps to Azure pipelines for Docker, .NET, and Node.js artifacts
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookfunctions-pipeline.yml
  .azure-pipelines/templates/cleanup.yml
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

pipeline fix
  SigookApp/ios/Runner/Info.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

pipeline fix
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor architecture documentation and update billing logic references; enhance ScheduleTasks with IHttpClientFactory for improved HTTP handling
  .docs/ARCHITECTURE.md
  .docs/BILLING_RULES.md
  .docs/README.md
  CLAUDE.md
  Covenant.Api/Covenant.Infrastructure/Covenant.Infrastructure.csproj
  Covenant.Api/README.md
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
  SigookFunctions/SigookFunctions/Program.cs
  SigookFunctions/SigookFunctions/Services/SigookApi.cs
  SigookFunctions/SigookFunctions/Utils/Notifications.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Refactor Azure health checks to require non-nullable connection strings; update pipeline templates for .NET SDK installation
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/sigookfunctions-pipeline.yml
  .azure-pipelines/templates/dotnet-setup.yml
  .docs/AZURE_DEVOPS_SELF_HOSTED_AGENT.md
  Covenant.Api/Covenant.Api/HealthChecks/AzureServiceBusHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/AzureStorageConfigurationHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/AzureStorageHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/DatabaseConfigurationHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/ServiceBusConfigurationHealthCheck.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Enhance SEO and metadata across multiple views; update pipeline for PR validation and improve job application flow
  .azure-pipelines/sigookfunctions-pipeline.yml
  Covenant.Web/index.html
  Covenant.Web/src/components/open-positions/JobsListSection.vue
  Covenant.Web/src/main.ts
  Covenant.Web/src/views/AboutUsView.vue
  Covenant.Web/src/views/BecomePartnerView.vue
  Covenant.Web/src/views/DisclaimerView.vue
  Covenant.Web/src/views/EmployersView.vue
  Covenant.Web/src/views/HomeView.vue
  Covenant.Web/src/views/IndustriesView.vue
  Covenant.Web/src/views/LicensedCertifiedView.vue
  Covenant.Web/src/views/OpenPositionsView.vue
  Covenant.Web/src/views/PrivacyPolicyView.vue
  Covenant.Web/src/views/TalentsView.vue
  Covenant.Web/src/views/TermsConditionsView.vue
  Sigook.Web/public/index.html
  Sigook.Web/public/robots.txt
  Sigook.Web/public/sitemap.xml
  Sigook.Web/src/components/landing/ApplyNow.vue
  Sigook.Web/src/pages/landing/JobSeekers.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Add node_modules directory creation step and conditionally install dependencies
  .azure-pipelines/covenant-web-pipeline.yml
Due: none

Disable cleanup of node_modules in the Azure pipeline configuration
  .azure-pipelines/covenant-web-pipeline.yml
Due: none

Update Azure pipeline package path and adjust timer triggers for scheduled tasks
  .azure-pipelines/covenant-web-pipeline.yml
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
Due: none

Add RunOnStartup parameter to TimerTrigger for scheduled tasks
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
Due: none

Update TimerTrigger schedule for NotificationSinExpiration and WarnLicensesExpiration functions
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
Due: none

Refactor SendEmail and SendInvitationToApply classes for improved readability and consistency
  SigookFunctions/SigookFunctions/Functions/SendEmail.cs
  SigookFunctions/SigookFunctions/Functions/SendInvitationToApply.cs
  SigookFunctions/SigookFunctions/Services/SendGridService.cs
Due: none

Update Microsoft.CognitiveServices.Speech package to version 1.48.1
  Sigook.CognitiveServices/Sigook.CognitiveServices.Core/Sigook.CognitiveServices.Core.csproj
Due: none

Add PR trigger to validate builds on pull requests to main
  .azure-pipelines/sigook-functions-pipeline.yml
Due: none

Add User-Agent header to TextToAudio request for better tracking
  Sigook.CognitiveServices/Sigook.CognitiveServices.Infraestructure/Cloud/SpeechConverter.cs
Due: none

small fixes
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/registration/presentation/pages/basic_info_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/registration/presentation/widgets/custom_text_field.dart
  SigookApp/lib/features/registration/presentation/widgets/location_selector.dart
  SigookApp/lib/features/registration/presentation/widgets/phone_number_field.dart
  SigookApp/lib/features/registration/presentation/widgets/searchable_dropdown_field.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Authorization changes
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/domain/repositories/auth_repository.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.g.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

User profile done
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.freezed.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.g.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/domain/repositories/profile_repository.dart
  SigookApp/lib/features/profile/domain/usecases/get_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/providers/cached_worker_profile_provider.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
