Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Remove unused import from CreateInvoiceUSATest
  .github/CODEOWNERS
Due: none

Add comprehensive documentation for Flutter app architecture and Azure pipeline deployment
  CLAUDE.md
Due: none

Remove unused import from CreateInvoiceUSATest
  covenantWeb/test.txt
Due: .azure-pipelines/covenantweb-pipeline.yml

Add Vue 3 Composition API globals to ESLint configuration and update SearchHero emit type syntax
  covenantWeb/eslint.config.js
  covenantWeb/src/components/open-positions/SearchHero.vue
Due: .azure-pipelines/covenantweb-pipeline.yml

ClockType endpoint added
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
  SigookApp/lib/features/jobs/data/models/clock_type_model.dart
  SigookApp/lib/features/jobs/data/repositories/timesheet_repository_impl.dart
  SigookApp/lib/features/jobs/domain/entities/clock_type.dart
  SigookApp/lib/features/jobs/domain/repositories/timesheet_repository.dart
  SigookApp/lib/features/jobs/domain/usecases/get_clock_type.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/providers/timesheet_providers.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Punchcard flow finished
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/ios/Runner/Info.plist
  SigookApp/lib/core/constants/enums.dart
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
  SigookApp/lib/features/jobs/data/models/clock_type_model.dart
  SigookApp/lib/features/jobs/data/models/location_model.dart
  SigookApp/lib/features/jobs/data/models/timesheet_response_model.dart
  SigookApp/lib/features/jobs/data/repositories/timesheet_repository_impl.dart
  SigookApp/lib/features/jobs/domain/entities/clock_type.dart
  SigookApp/lib/features/jobs/domain/entities/location.dart
  SigookApp/lib/features/jobs/domain/entities/timesheet_response.dart
  SigookApp/lib/features/jobs/domain/repositories/timesheet_repository.dart
  SigookApp/lib/features/jobs/domain/usecases/get_clock_type.dart
  SigookApp/lib/features/jobs/domain/usecases/submit_timesheet.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/providers/timesheet_providers.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: captcha y open positions
  covenantWeb/.env
  covenantWeb/package-lock.json
  covenantWeb/package.json
  covenantWeb/src/App.vue
  covenantWeb/src/assets/json/RolesEmployersData.json
  covenantWeb/src/assets/json/RolesTalentsData.json
  covenantWeb/src/assets/json/TalentsData.json
  covenantWeb/src/assets/json/jobs.json
  covenantWeb/src/components/employers/RolesWeRecruit.vue
  covenantWeb/src/components/layout/ContactForm.vue
  covenantWeb/src/components/open-positions/JobsListSection.vue
  covenantWeb/src/components/talents/RolesTalents.vue
  covenantWeb/src/components/talents/TalentsMainSection.vue
  covenantWeb/src/views/OpenPositionsView.vue
Due: .azure-pipelines/covenantweb-pipeline.yml

Remove main/master branch triggers from Azure pipelines
  .azure-pipelines/covenantweb-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Update PR validation strategy to only run on dev branch
  .azure-pipelines/README.md
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenantweb-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Update sigook-web-pipeline to use replacetokens v6 and remove cleanup script
  .azure-pipelines/sigook-web-pipeline.yml
  cleanup-git-cache.sh
Due: none

fix: update replacetokens task to v6 and use absolute path
  .azure-pipelines/sigook-web-pipeline.yml
Due: none

fix: allow Sigook.Web/public directory in repository
  .gitignore
  Sigook.Web/public/data/job-positions.json
  Sigook.Web/public/data/skills.json
  Sigook.Web/public/favicon.ico
  Sigook.Web/public/fonts/open-sans/OpenSans-Bold.woff
  Sigook.Web/public/fonts/open-sans/OpenSans-Bold.woff2
  Sigook.Web/public/fonts/open-sans/OpenSans-Extrabold.woff
  Sigook.Web/public/fonts/open-sans/OpenSans-Extrabold.woff2
  Sigook.Web/public/fonts/open-sans/OpenSans-Light.woff
  Sigook.Web/public/fonts/open-sans/OpenSans-Light.woff2
  Sigook.Web/public/fonts/open-sans/OpenSans-Semibold.woff
  Sigook.Web/public/fonts/open-sans/OpenSans-Semibold.woff2
  Sigook.Web/public/fonts/open-sans/OpenSans.woff
  Sigook.Web/public/fonts/open-sans/OpenSans.woff2
  Sigook.Web/public/fonts/open-sans/demo.html
  Sigook.Web/public/fonts/open-sans/stylesheet.css
  Sigook.Web/public/index.html
  Sigook.Web/public/polyfill.min.js
  Sigook.Web/public/version.json
Due: none

fix: correct encoding parameter in replacetokens task
  .azure-pipelines/sigook-web-pipeline.yml
Due: none

fix: resolve Sigook.Web Docker build wwwroot directory issue
  Sigook.Web/.env.production
  Sigook.Web/.env.staging
  Sigook.Web/Dockerfile
Due: none

debug: add verbose logging to Sigook.Web Dockerfile
  Sigook.Web/Dockerfile
Due: none

debug: separate Dockerfile RUN commands for better visibility
  Sigook.Web/Dockerfile
Due: none

debug: add .dockerignore and verify .env files in Docker build
  Sigook.Web/.dockerignore
  Sigook.Web/Dockerfile
Due: none

fix: simplify Dockerfile and ensure build executes correctly
  Sigook.Web/Dockerfile
Due: none

fix: ensure build environment is correctly passed to Docker
  .azure-pipelines/sigook-web-pipeline.yml
Due: none

chore: clean up debug messages from Dockerfile and pipeline
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/Dockerfile
Due: none

fix: add Azure Artifacts authentication to dotnet-build-test template
  .azure-pipelines/templates/dotnet-build-test.yml
Due: none

fix: remove restrictive condition from Build_and_Test stage
  .azure-pipelines/covenant-identityserver-pipeline.yml
Due: none

refactor: centralize Docker tag and Azure App Service name calculation in reusable templates
  .azure-pipelines/README.md
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/templates/calculate-azure-appname.yml
  .azure-pipelines/templates/calculate-docker-tag.yml
  CLAUDE.md
  Sigook.Web/.gitignore
  SigookApp/.gitignore
  covenantWeb/.gitignore
Due: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: remove setEnvironmentVariable parameter from calculate-docker-tag template
  .azure-pipelines/README.md
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/templates/calculate-docker-tag.yml
Due: none

feat: version .env.development.local files for developer reference
  .gitignore
  Sigook.Web/.env.development.local
  Sigook.Web/.gitignore
  covenantWeb/.env
  covenantWeb/.env.development
  covenantWeb/.env.development.local
  covenantWeb/.gitignore
Due: .azure-pipelines/covenantweb-pipeline.yml

feat: add PR validation to Covenant.Common NuGet pipeline and fix null reference warnings
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  Covenant.Api/Covenant.Core.BL/Adapters/WorkerAdapter.cs
Due: none

Refactor worker profile image upload to use multipart/form-data
  Covenant.Api/Covenant.Api/WorkerModule/WorkerProfile/Controllers/WorkerProfileUpdateController.cs
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfile.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IWorkerService.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Sigook.Web/src/components/worker/WorkImageDetail.vue
  Sigook.Web/src/store/modules/worker.js
Due: none

Fixing UT
  Covenant.Api/Covenant.Tests/Worker/UpdateWorkerPunchCardIdServiceTest.cs
Due: none

feat: expand Covenant.Common NuGet pipeline triggers to include test projects and pipeline file
  .azure-pipelines/covenant-common-nuget-pipeline.yml
Due: none

feat: add Vuetify UI framework and configure API base URLs across environments
  Sigook.Web/.gitignore
  covenantWeb/.env.development.local
  covenantWeb/.env.production
  covenantWeb/.env.staging
  covenantWeb/package-lock.json
  covenantWeb/package.json
  covenantWeb/src/components/open-positions/JobsListSection.vue
  covenantWeb/src/components/open-positions/SearchHero.vue
  covenantWeb/src/composables/useJobs.ts
  covenantWeb/src/env.d.ts
  covenantWeb/src/main.ts
  covenantWeb/src/plugins/vuetify.ts
  covenantWeb/src/services/api.ts
  covenantWeb/src/services/jobService.ts
  covenantWeb/src/services/types/job.types.ts
  covenantWeb/src/stores/jobs.ts
Due: .azure-pipelines/covenantweb-pipeline.yml

chore: add skipLibCheck to TypeScript configuration
  covenantWeb/tsconfig.json
Due: .azure-pipelines/covenantweb-pipeline.yml

chore: remove redundant ImportMeta interface declaration from env.d.ts
  covenantWeb/src/env.d.ts
Due: .azure-pipelines/covenantweb-pipeline.yml

chore: remove unused ImportMetaEnv interface from env.d.ts
  covenantWeb/src/env.d.ts
Due: .azure-pipelines/covenantweb-pipeline.yml
