Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

pipelines fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.idea/workspace.xml
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/core/config/environment.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing clock-type endpoint
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/WorkerModule/WorkerRequestTimeSheet/Controllers/WorkerRequestTimeSheetController.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimeSheetService.cs
  Covenant.Api/Covenant.Core.BL/Services/TimeSheetService.cs
  Covenant.Api/Covenant.Tests/Request/GetClockTypeServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: logout
  SigookApp/.idea/workspace.xml
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/presentation/pages/logout_webview_page.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/widgets/logout_confirmation_dialog.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/preferences/presentation/widgets/profile_action_buttons.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/account_settings_section.dart
  SigookApp/test/features/auth/data/datasources/auth_remote_datasource_test.dart
  SigookApp/test/features/auth/data/repositories/auth_repository_impl_test.dart
  SigookApp/test/features/auth/presentation/viewmodels/auth_viewmodel_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Improvements in applicants
  .docs/business/REQUEST_STATE_MANAGEMENT.md
  .docs/business/WORKFLOWS.md
  Covenant.Api/Covenant.Core.BL/Services/RequestApplicantService.cs
  Covenant.Api/Covenant.Tests/Request/RequestApplicantServiceTest.cs
  Sigook.Web/src/components/agency_request/ApplicantComplianceModal.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

sign in button changed
  SigookApp/.idea/workspace.xml
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

WIP: epitaxy pre-switch from sigook-web
  .docs/business/WORKFLOWS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Configuration/SendGridConfiguration.cs
  Covenant.Api/Covenant.Common/Models/Candidate/CandidateContactInfoModel.cs
  Covenant.Api/Covenant.Common/Models/Request/SendInvitationJob.cs
  Covenant.Api/Covenant.Common/Repositories/Candidate/ICandidateRepository.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/StringExtensions.cs
  Covenant.Api/Covenant.Core.BL/Consumers/InvitationConsumer.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ICandidateService.cs
  Covenant.Api/Covenant.Core.BL/Services/CandidateService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Covenant.Api/Covenant.Integration.Tests/WebSite/WebSiteControllerCandidateApplyAnonymousTest.cs
  Covenant.Api/Covenant.Tests/Candidate/CandidateApplyServiceTest.cs
  Covenant.Api/Covenant.Tests/Candidate/CandidateRepositoryTest.cs
  Covenant.Api/Covenant.Tests/Common/StringExtensionsTest.cs
  Sigook.Web/src/api/websiteApi.ts
  Sigook.Web/src/pages/worker/WorkerApply.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

fix: companies list in Dashboard, Deal statuses added
  .docs/technical/SIGOOK_WEB_SALES_DASHBOARD.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Common/Enums/DealStatus.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesMeterList.vue
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
  Sigook.Web/src/composables/useSalesCompanySearch.ts
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Improve sigook
  Covenant.Api/Covenant.Api/Common/FileSaver.cs
  Covenant.Api/Covenant.Api/Common/Validators/BaseModelValidator.cs
  Covenant.Api/Covenant.Api/Common/Validators/SkillValidator.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyInvoice/Controllers/CompanyInvoiceController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyJobPosition/Controllers/CompanyJobPositionController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyLocation/Controllers/CompanyLocationController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyProfile/Controllers/CompanyProfileController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyProfileContactPerson/Controllers/CompanyProfileContactPersonController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyProfileLocation/Controllers/CompanyProfileLocationController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyRequest/Controllers/CompanyRequestController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyRequestWorker/Controllers/CompanyRequestWorkerController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyRequestWorkerTimeSheet/Controllers/V2CompanyRequestWorkerTimeSheetController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyUser/Controllers/CompanyUserController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyWorkerComment/Controllers/CompanyWorkerCommentController.cs
  Covenant.Api/Covenant.Api/Validators/Location/CityModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Location/LocationModelValidator.cs
  Covenant.Api/Covenant.Common/Models/Accounting/Invoice/GetInvoicesFilter.cs
  Covenant.Api/Covenant.Common/Models/FilesResult.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/AgencyInvoice/AccountingInvoiceControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/InvoiceDocument/AccountingInvoiceDocumentControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequestWorkerTimeSheet/CompanyRequestWorkerTimeSheetApprovalControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequestWorkerTimeSheet/CompanyRequestWorkerTimeSheetControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequestWorkerTimeSheet/V2CompanyRequestWorkerTimeSheetControllerTest.cs
  Sigook.Web/src/components/agency/AgencyPersonnelModal.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing Unit tests
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Requests/RequestsController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Company/Requests/RequestsController.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

deal statuses added and list behavior corrected
  Sigook.Web/src/components/sales_dashboard/SalesClientList.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/types/sales.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing change role
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/UserAdministrationController.cs
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Delete .docs/technical/SIGOOK_WEB_SALES_DASHBOARD.md
  .docs/technical/SIGOOK_WEB_SALES_DASHBOARD.md
Due: none

WIP: Worker / Candidate invite link
  .docs/business/WORKFLOWS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Configuration/SendGridConfiguration.cs
  Covenant.Api/Covenant.Common/Models/Candidate/CandidateContactInfoModel.cs
  Covenant.Api/Covenant.Common/Models/Request/SendInvitationJob.cs
  Covenant.Api/Covenant.Common/Models/WebSite/ApplyByEmailModel.cs
  Covenant.Api/Covenant.Common/Repositories/Candidate/ICandidateRepository.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/StringExtensions.cs
  Covenant.Api/Covenant.Core.BL/Consumers/InvitationConsumer.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IWorkerService.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Covenant.Api/Covenant.Integration.Tests/WebSiteModule/WebSiteControllerApplyTest.cs
  Covenant.Api/Covenant.Tests/Agency/CandidateRepositoryTest.cs
  Covenant.Api/Covenant.Tests/Common/StringExtensionsTest.cs
  Covenant.Api/Covenant.Tests/Worker/WorkerServiceApplyByEmailTest.cs
  Sigook.Web/src/api/websiteApi.ts
  Sigook.Web/src/pages/worker/WorkerApply.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feature: invitations now can be sent to candidates
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Sigook.Web/src/pages/worker/WorkerApply.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: GetCompaniesList endpoint added
  .docs/business/ROLES_PERMISSIONS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_SALES_DASHBOARD.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/CompanyProfiles/CompanyProfilesController.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyProfileDropdownModel.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Sigook.Web/src/api/agencyCompanyApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
  Sigook.Web/src/composables/useSalesCompanySearch.ts
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

final touches
  .docs/business/ROLES_PERMISSIONS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/CompanyProfiles/CompanyProfilesController.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyProfileDropdownModel.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Sigook.Web/src/api/agencyCompanyApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Invitations fix
  .docs/business/WORKFLOWS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Covenant.Api/Covenant.Api/Shared/EmailPreferences/Controllers/EmailPreferencesController.cs
  Covenant.Api/Covenant.Api/WorkerModule/WorkerRequest/Controllers/WorkerRequestController.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Entities/Candidate/Candidate.cs
  Covenant.Api/Covenant.Common/Models/Notification/UnsubscribeModel.cs
  Covenant.Api/Covenant.Common/Models/Worker/ApplyByEmailModel.cs
  Covenant.Api/Covenant.Core.BL/Consumers/InvitationConsumer.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IWorkerService.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260902191144_AddEmailUnsubscribedToCandidate.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260902191144_AddEmailUnsubscribedToCandidate.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyAnonymousTest.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyTest.cs
  Sigook.Web/src/api/websiteApi.ts
  Sigook.Web/src/api/workerApi.ts
  Sigook.Web/src/pages/EmailPreferences.vue
  Sigook.Web/src/pages/worker/WorkerApply.vue
  Sigook.Web/src/types/common.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Remove obsolete code
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/WorkerModule/WorkerRequestTimeSheet/Controllers/WorkerRequestTimeSheetController.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimeSheetService.cs
  Covenant.Api/Covenant.Core.BL/Services/TimeSheetService.cs
  Covenant.Api/Covenant.Tests/Request/GetClockTypeServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Anabelle migrations added
  Covenant.Api/Covenant.Infrastructure/Migrations/20260903170941_SeedAnabelleCompanyInteractions.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260903170941_SeedAnabelleCompanyInteractions.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: validation for admin roles
  Sigook.Web/src/composables/useSalesOwners.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

fix: validation for admin roles
  .docs/technical/SIGOOK_WEB_API_MAP.md
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Filters for interactions and deals tables
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

fix: clients search
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: add delete subcontractor report functionality
  .docs/business/BILLING_RULES.md
  .docs/business/ROLES_PERMISSIONS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/ReportsController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/CompanyProfiles/CompanyProfilesController.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyDeletionBlockerModel.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyDeletionCheckModel.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/ISubcontractorRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IAccountingService.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ICompanyService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/AccountingService.cs
  Covenant.Api/Covenant.Core.BL/Services/CompanyService.cs
  Covenant.Api/Covenant.Infrastructure/Contexts/CovenantContext.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/SubcontractorRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/Subcontractors/DeleteSubcontractorReportControllerTest.cs
  Covenant.Api/Covenant.Tests/Accounting/DeleteSubcontractorReportTest.cs
  Sigook.Web/src/App.vue
  Sigook.Web/src/api/agencyCompanyApi.ts
  Sigook.Web/src/api/agencyPayStubApi.ts
  Sigook.Web/src/assets/scss/page-header.scss
  Sigook.Web/src/components/Breadcrumbs.vue
  Sigook.Web/src/components/PageHeader.vue
  Sigook.Web/src/components/SidebarLogged.vue
  Sigook.Web/src/components/agency_accounting/SubcontractorsReport.vue
  Sigook.Web/src/components/notifications/NotificationBell.vue
  Sigook.Web/src/composables/useSuperAdmin.ts
  Sigook.Web/src/pages/agency/Companies.vue
  Sigook.Web/src/types/agency.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fix applied
  SigookApp/lib/core/constants/auth_error_codes.dart
  SigookApp/lib/core/error/failures.dart
  SigookApp/lib/core/network/auth_interceptor.dart
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/data/models/auth_token_model.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/domain/entities/auth_token.dart
  SigookApp/lib/features/auth/domain/repositories/auth_repository.dart
  SigookApp/lib/features/auth/presentation/providers/auth_providers.dart
  SigookApp/lib/features/auth/presentation/providers/auth_providers.g.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.freezed.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/lib/main_common.dart
  SigookApp/test/core/network/auth_interceptor_test.dart
  SigookApp/test/core/routing/app_router_test.dart
  SigookApp/test/features/auth/data/datasources/auth_remote_datasource_test.dart
  SigookApp/test/features/auth/data/models/auth_token_model_test.dart
  SigookApp/test/features/auth/data/repositories/auth_repository_impl_test.dart
  SigookApp/test/features/auth/domain/entities/auth_token_test.dart
  SigookApp/test/features/auth/presentation/viewmodels/auth_viewmodel_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

BusinessTime removed
  .docs/business/SALES_MODULE.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
  Covenant.Api/Covenant.Common/Models/Company/SalesDashboard/SalesPeriodRangeModel.cs
  Covenant.Api/Covenant.Common/Utils/SalesPeriodWindows.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Sales/DashboardControllerTest.cs
  Covenant.Api/Covenant.Tests/Common/BusinessTimeTest.cs
  Covenant.Api/Covenant.Tests/Common/SalesPeriodWindowsTest.cs
  Covenant.Api/Covenant.Tests/Company/CompanyRepositoryDashboardTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDashboardTest.cs
  Sigook.Web/src/api/salesDashboardApi.ts
  Sigook.Web/src/types/sales.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

SalesPeriodWindows moved to SalesService
  .docs/technical/SIGOOK_WEB_API_MAP.md
  Covenant.Api/Covenant.Common/Utils/SalesPeriodWindows.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Tests/Common/SalesPeriodWindowsTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServicePeriodWindowTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

feat: implement Microsoft 365 account status checks and session management
  .docs/business/ROLES_PERMISSIONS.md
  .docs/technical/ARCHITECTURE.md
  Covenant.IdentityServer/CLAUDE.md
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/ExternalController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/Models/Constants.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Program.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/CustomProfileService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/IMicrosoft365AccountService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/Impl/Microsoft365AccountService.cs
  Sigook.Web/src/security/apiService.ts
  Sigook.Web/src/security/menu.ts
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing dockerfile
  Covenant.IdentityServer/Dockerfile
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Fixing build
  Covenant.IdentityServer/CLAUDE.md
  Covenant.IdentityServer/Covenant.IdentityServer/Covenant.IdentityServer.csproj
  Covenant.IdentityServer/Covenant.IdentityServer/Services/CustomProfileService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/Impl/Microsoft365AccountService.cs
  Covenant.IdentityServer/Dockerfile
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Client's search list
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing Dashboard of sales
  Covenant.Web/package.json
  Covenant.Web/pnpm-lock.yaml
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: update Docker tags and add iOS bootstrap pipeline
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-ios-bootstrap-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/flutter-setup.yml
  SigookApp/android/app/build.gradle.kts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Fixing iOS
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml
