Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

Progress with App Section
  Sigook.Web/src/assets/images/v2/app-download/app-hand-phone.png
  Sigook.Web/src/assets/images/v2/app-download/app-hand-phone1.png
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

App download section finished
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

fixes
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

About us progress
  Sigook.Web/src/assets/images/v2/about/divider.svg
  Sigook.Web/src/assets/images/v2/about/ellipse-44.png
  Sigook.Web/src/assets/images/v2/about/exp-ellipse-40.png
  Sigook.Web/src/assets/images/v2/about/exp-ellipse-42.png
  Sigook.Web/src/assets/images/v2/about/exp-ellipse-45.png
  Sigook.Web/src/assets/images/v2/about/exp-ellipse-48.png
  Sigook.Web/src/assets/images/v2/about/form-wave.svg
  Sigook.Web/src/assets/images/v2/about/hero-bg.png
  Sigook.Web/src/assets/images/v2/about/intro-bg.png
  Sigook.Web/src/assets/images/v2/about/local-ellipse-38.png
  Sigook.Web/src/assets/images/v2/about/local-ellipse-43.png
  Sigook.Web/src/assets/images/v2/about/local-ellipse-46.png
  Sigook.Web/src/assets/images/v2/about/quicker-ellipse-39.png
  Sigook.Web/src/assets/images/v2/about/quicker-ellipse-41.png
  Sigook.Web/src/assets/images/v2/about/quicker-ellipse-47.png
  Sigook.Web/src/components/v2/AboutFormSectionV2.vue
  Sigook.Web/src/components/v2/AboutHeroSectionV2.vue
  Sigook.Web/src/components/v2/AboutIntroSectionV2.vue
  Sigook.Web/src/components/v2/NumbersGridV2.vue
  Sigook.Web/src/components/v2/WhyWorkWithUsSectionV2.vue
  Sigook.Web/src/pages/v2/AboutUsV2.vue
  Sigook.Web/src/router/routesV2.ts
  Sigook.Web/tmp-figma-why-work.png
Due: .azure-pipelines/sigook-web-pipeline.yml

packages updated
  Sigook.Web/pnpm-lock.yaml
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  .claude/skills/pre-work-checklist/SKILL.md
Due: none

Progress
  Sigook.Web/src/components/v2/DualCtaSectionV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
  Sigook.Web/src/pages/v2/HomeV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Home page finished
  Sigook.Web/src/assets/images/v2/branding/sigook-magnifier.png
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/GetInTouchFormV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Little details
  Sigook.Web/src/App.vue
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
  Sigook.Web/src/components/v2/shared/DecoMagnifierV2.vue
  Sigook.Web/src/components/v2/shared/GlassPillCtaV2.vue
  Sigook.Web/src/components/v2/shared/GlobalBackgroundV2.vue
  Sigook.Web/src/components/v2/shared/SliderDotsV2.vue
  Sigook.Web/src/composables/useCarousel.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Home page
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/components/v2/HeaderV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/shared/EyebrowPillV2.vue
  Sigook.Web/src/components/v2/shared/ScrollIndicatorV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Industries Added
  Sigook.Web/eslint.config.mjs
  Sigook.Web/src/assets/images/v2/app-download/app-hand-phone.png
  Sigook.Web/src/assets/images/v2/app-download/app-hand-phone1.png
  Sigook.Web/src/components/v2/AboutHeroSectionV2.vue
  Sigook.Web/src/components/v2/AboutIntroSectionV2.vue
  Sigook.Web/src/components/v2/AboutMissionSectionV2.vue
  Sigook.Web/src/components/v2/AboutNumbersSectionV2.vue
  Sigook.Web/src/components/v2/IndustriesGridSectionV2.vue
  Sigook.Web/src/components/v2/IndustriesHeroSectionV2.vue
  Sigook.Web/src/components/v2/IndustryCardV2.vue
  Sigook.Web/src/components/v2/NumbersGridV2.vue
  Sigook.Web/src/components/v2/SpecialProjectsFocusSectionV2.vue
  Sigook.Web/src/components/v2/SpecialProjectsHeroSectionV2.vue
  Sigook.Web/src/components/v2/shared/IndustryIconV2.vue
  Sigook.Web/src/components/v2/shared/LabeledChipListV2.vue
  Sigook.Web/src/pages/v2/AboutUsV2.vue
  Sigook.Web/src/pages/v2/IndustriesV2.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Talents
  Sigook.Web/src/components/v2/TalentsHeroSectionV2.vue
  Sigook.Web/src/components/v2/TalentsIndustriesCarouselV2.vue
  Sigook.Web/src/components/v2/TalentsSolutionsSectionV2.vue
  Sigook.Web/src/components/v2/TalentsWhyWorkSectionV2.vue
  Sigook.Web/src/pages/v2/TalentsV2.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  Sigook.Web/src/components/v2/AboutMissionSectionV2.vue
  Sigook.Web/src/components/v2/AboutNumbersSectionV2.vue
  Sigook.Web/src/components/v2/NumbersGridV2.vue
  Sigook.Web/src/components/v2/SpecialProjectsFocusSectionV2.vue
  Sigook.Web/src/components/v2/TalentsIndustriesCarouselV2.vue
  Sigook.Web/src/components/v2/TalentsSolutionsSectionV2.vue
  Sigook.Web/src/components/v2/TalentsWhyWorkSectionV2.vue
  Sigook.Web/src/components/v2/WhyWorkWithUsSectionV2.vue
  Sigook.Web/src/components/v2/shared/FeatureCardV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing navbar
  Sigook.Web/src/App.vue
  Sigook.Web/src/components/v2/landing/shared/Header.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

News Added
  Sigook.Web/src/components/v2/landing/Employers/EmployersHeroSection.vue
  Sigook.Web/src/components/v2/landing/Employers/EmployersIndustriesCarousel.vue
  Sigook.Web/src/components/v2/landing/Employers/EmployersSolutionsSection.vue
  Sigook.Web/src/components/v2/landing/Employers/EmployersWhyChooseSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsFeaturedSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsHeroSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsLatestGridSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsTopicsSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsletterSection.vue
  Sigook.Web/src/components/v2/landing/Partner/PartnerHeroSection.vue
  Sigook.Web/src/components/v2/landing/Partner/PartnerTypesSection.vue
  Sigook.Web/src/components/v2/landing/Talents/TalentsIndustriesCarousel.vue
  Sigook.Web/src/components/v2/landing/shared/IndustriesCarousel.vue
  Sigook.Web/src/components/v2/landing/shared/NewsCard.vue
  Sigook.Web/src/data/news.ts
  Sigook.Web/src/pages/v2/landing/Employers/Employers.vue
  Sigook.Web/src/pages/v2/landing/News/News.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Become a Partner Added
  Sigook.Web/src/components/v2/landing/Partner/PartnerBenefitsSection.vue
  Sigook.Web/src/components/v2/landing/Partner/PartnerProcessSection.vue
  Sigook.Web/src/pages/v2/landing/Partner/Partner.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Open Positions Added
  Sigook.Web/src/components/v2/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsBrowseSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsCtaSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/data/jobs.ts
  Sigook.Web/src/pages/v2/landing/OpenPositions/OpenPositions.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: Refactor holiday pay calculations and related models
  Covenant.Api/Covenant.Common/Entities/Request/TimeSheet.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/ParamsToGetRegularWages.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/RegularWageWorker.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/IInvoiceRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/IPayStubRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/ISubcontractorRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/ITimeSheetRepository.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/DateExtensions.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimesheetCalculatorService.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/CanadaInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Core.BL/Services/Shared/TimesheetCalculatorService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/InvoiceRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/PayStubRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/SubcontractorRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/TimeSheetRepository.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestHolidaysUtils.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestParamsToGetRegularChargesCompanyByWorker.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestParamsToGetRegularWagesWorker.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestRegularWageWorker.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Fixing sidebar
  Sigook.Web/src/assets/scss/buefy-overrides.scss
  Sigook.Web/src/assets/scss/calendar.scss
  Sigook.Web/src/components/SidebarLogged.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: Enhance holiday pay calculation and add unit tests
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/RegularWageWorker.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimesheetCalculatorService.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Core.BL/Services/Shared/TimesheetCalculatorService.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/GeneratePayStubHolidayPayTest.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestRegularWageWorker.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Open Positions Added
  Sigook.Web/src/components/v2/landing/Home/AppDownloadSection.vue
  Sigook.Web/src/components/v2/landing/Home/CertifiedSection.vue
  Sigook.Web/src/components/v2/landing/Home/DualCtaSection.vue
  Sigook.Web/src/components/v2/landing/Home/HeroSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsCtaSection.vue
  Sigook.Web/src/components/v2/landing/shared/EyebrowPill.vue
  Sigook.Web/src/components/v2/landing/shared/GlobalBackground.vue
  Sigook.Web/src/components/v2/landing/shared/LabeledChipList.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2AddressFields.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2Autocomplete.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2Checkbox.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2DatePicker.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2FileUpload.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2ImageUpload.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2Input.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2PhoneInput.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2Select.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2Switch.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2TagInput.vue
  Sigook.Web/src/components/v2/landing/shared/forms/WorkerRegisterForm.vue
  Sigook.Web/src/components/v2/landing/shared/forms/WorkerRegisterModal.vue
  Sigook.Web/src/components/v2/landing/shared/forms/WorkerRegisterStepNav.vue
  Sigook.Web/src/components/v2/landing/shared/forms/useWorkerRegisterModal.ts
  Sigook.Web/src/pages/v2/landing/Apply/Apply.vue
  Sigook.Web/src/pages/v2/landing/OpenPositions/OpenPositions.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

New toast implemented
  Sigook.Web/src/App.vue
  Sigook.Web/src/components/v2/landing/shared/AppVersionToast.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Sign In implemented
  Sigook.Web/src/components/v2/landing/shared/Header.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Industry Cards implemented
  Sigook.Web/src/components/v2/landing/Industries/IndustriesGridSection.vue
  Sigook.Web/src/components/v2/landing/Industries/IndustryCard.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Prototype Finished
  Sigook.Web/src/components/v2/landing/Industries/IndustriesGridSection.vue
  Sigook.Web/src/components/v2/landing/shared/forms/WorkerRegisterForm.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: Implement holiday pay calculation logic and refactor related services
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/RegularWageWorker.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimesheetCalculatorService.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Core.BL/Services/Shared/TimesheetCalculatorService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/PayStubRepository.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/GeneratePayStubHolidayPayTest.cs
  Sigook.Web/index.html
  Sigook.Web/src/components/SidebarLogged.vue
  Sigook.Web/src/components/agency_request/Applicants.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/pages/agency/accounting/Invoices.vue
  Sigook.Web/src/pages/agency/accounting/PayStubs.vue
  Sigook.Web/src/security/menu.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Teams Notifications improvements
  Covenant.Api/Covenant.Common/Models/Notification/TeamsAdaptiveMessage.cs
  Covenant.Api/Covenant.Infrastructure/Services/TeamsService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Tests/Company/CompanyAddClockInTest.cs
  Covenant.Api/Covenant.Tests/Worker/CreateTimeSheetTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing Unit Test
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Tailwind Removal
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/src/assets/css/tailwind.css
  Sigook.Web/src/components/v2/landing/shared/Header.vue
  Sigook.Web/vite.config.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Open positions now consume the right endpoint
  Sigook.Web/src/api/websiteApi.ts
  Sigook.Web/src/components/v2/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/components/v2/landing/shared/forms/useWorkerRegisterModal.ts
  Sigook.Web/src/composables/useJobs.ts
  Sigook.Web/src/data/jobs.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Open Positions corrections
  Sigook.Web/src/components/v2/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsCtaSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/pages/v2/landing/OpenPositions/OpenPositions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Open Positions corrections
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/pages/v2/landing/OpenPositions/OpenPositions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Hero updated
  Sigook.Web/src/components/v2/landing/Home/HeroSection.vue
  Sigook.Web/src/components/v2/landing/shared/HeroBackground.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Hero sections progress
  Sigook.Web/src/assets/images/v2/hero/about.jpg
  Sigook.Web/src/assets/images/v2/hero/employers.jpg
  Sigook.Web/src/assets/images/v2/hero/home.jpg
  Sigook.Web/src/assets/images/v2/hero/industries.jpg
  Sigook.Web/src/assets/images/v2/hero/news.jpg
  Sigook.Web/src/assets/images/v2/hero/open-positions.jpg
  Sigook.Web/src/assets/images/v2/hero/partner.jpg
  Sigook.Web/src/assets/images/v2/hero/special-projects.jpg
  Sigook.Web/src/assets/images/v2/hero/talents.jpg
  Sigook.Web/src/components/v2/landing/About/AboutIntroSection.vue
  Sigook.Web/src/components/v2/landing/Employers/EmployersHeroSection.vue
  Sigook.Web/src/components/v2/landing/Home/HeroSection.vue
  Sigook.Web/src/components/v2/landing/Industries/IndustriesHeroSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsHeroSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/v2/landing/Partner/PartnerHeroSection.vue
  Sigook.Web/src/components/v2/landing/SpecialProjects/SpecialProjectsHeroSection.vue
  Sigook.Web/src/components/v2/landing/Talents/TalentsHeroSection.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Hero updated
  Sigook.Web/src/components/v2/landing/About/AboutIntroSection.vue
  Sigook.Web/src/components/v2/landing/About/AboutMissionSection.vue
  Sigook.Web/src/components/v2/landing/About/OurHistorySection.vue
  Sigook.Web/src/components/v2/landing/About/OurTeamSection.vue
  Sigook.Web/src/components/v2/landing/About/WhyWorkWithUsSection.vue
  Sigook.Web/src/components/v2/landing/Employers/EmployersIndustriesCarousel.vue
  Sigook.Web/src/components/v2/landing/Home/AppDownloadSection.vue
  Sigook.Web/src/components/v2/landing/Home/HeroSection.vue
  Sigook.Web/src/components/v2/landing/Home/NumbersSection.vue
  Sigook.Web/src/components/v2/landing/Home/TestimonialsSection.vue
  Sigook.Web/src/components/v2/landing/Home/WhyChooseUsSection.vue
  Sigook.Web/src/components/v2/landing/Industries/IndustriesGridSection.vue
  Sigook.Web/src/components/v2/landing/Industries/IndustriesHeroSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsFeaturedSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsHeroSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsTopicsSection.vue
  Sigook.Web/src/components/v2/landing/News/NewsletterSection.vue
  Sigook.Web/src/components/v2/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/v2/landing/Partner/PartnerBenefitsSection.vue
  Sigook.Web/src/components/v2/landing/Talents/TalentsWhyWorkSection.vue
  Sigook.Web/src/components/v2/landing/shared/Footer.vue
  Sigook.Web/src/components/v2/landing/shared/Header.vue
  Sigook.Web/src/components/v2/landing/shared/forms/V2AddressFields.vue
  Sigook.Web/src/components/v2/landing/shared/forms/WorkerRegisterForm.vue
  Sigook.Web/src/data/news.ts
  Sigook.Web/src/pages/v2/landing/About/AboutUs.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
