Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

Fixing pipelines
  .azure-pipelines/templates/node-setup.yml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Add Open in Google Maps link
  Sigook.Web/src/components/agency_company/LocationDetail.vue
  Sigook.Web/src/components/request/RequestLocation.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Documented website and code enhancements
  .docs/technical/ARCHITECTURE.md
  .docs/technical/DEVELOPMENT_COMMANDS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  CLAUDE.md
  Covenant.Api/Covenant.Common/Entities/Accounting/Invoice/Invoice.cs
  Covenant.Api/Covenant.Common/Entities/Accounting/Invoice/InvoiceUSA.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/BaseInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/CanadaInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/UsaInvoiceService.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/InvoiceDocument/AccountingInvoiceDocumentV4ControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyInvoice/TestCompanyInvoiceController.cs
  Covenant.Api/Covenant.Integration.Tests/Shared/InvoiceDocument/InvoiceDocumentControllerTest.cs
  Covenant.Api/Covenant.Tests/Billing/InvoiceUSATest.cs
  Covenant.Api/Covenant.Tests/Billing/TestGetInvoiceSummary.cs
  Covenant.IdentityServer/Covenant.IdentityServer/BackgroundServices/SigookIdentityBackgroundService.cs
  Sigook.Web/CLAUDE.md
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Add missing hours and overtime calculations to invoicing system; remove AgencyPunchCard component
  .docs/business/BILLING_RULES.md
  Covenant.Api/Covenant.Common/Entities/Accounting/Invoice/IInvoiceLineItem.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/BaseInvoiceService.cs
  Sigook.Web/src/components/agency/AgencyPunchCard.vue
  Sigook.Web/src/components/agency_request/MassivePunchCard.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: add BulkRecruiterModal component for assigning recruiters and drop DisplayRecruiters column from Request table
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  Covenant.Api/Covenant.Api/AgencyModule/AgencyRequest/Controllers/AgencyRequestController.cs
  Covenant.Api/Covenant.Api/Views/Reports/SummaryReport/SummaryReport.cshtml
  Covenant.Api/Covenant.Api/Views/Reports/SummaryReport/SummaryReportViewModel.cs
  Covenant.Api/Covenant.Api/Views/Reports/_ViewStart.cshtml
  Covenant.Api/Covenant.Common/Entities/Request/Request.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyRequestListModel.cs
  Covenant.Api/Covenant.Common/Models/Request/BulkRequestCancellation.cs
  Covenant.Api/Covenant.Common/Models/Request/BulkRequestRecruiters.cs
  Covenant.Api/Covenant.Common/Models/Request/GetRequestForAgencyFilter.cs
  Covenant.Api/Covenant.Common/Models/Request/WorkerRequestAgencyBoardModel.cs
  Covenant.Api/Covenant.Common/Repositories/Agency/IAgencyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRequestRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IRequestService.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Documents/Services/GenerateAgencyRequestsReport.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260504192711_DropDisplayRecruitersColumn.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260504192711_DropDisplayRecruitersColumn.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Agency/AgencyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestRecruiter/AgencyRequestRecruiterControllerTest.cs
  Sigook.Web/src/api/agencyRequestApi.ts
  Sigook.Web/src/components/agency_request/BulkRecruiterModal.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/components/landing/Header.vue
  Sigook.Web/src/pages/agency/Requests.vue
  Sigook.Web/src/pages/agency/WeeklyBoard.vue
  Sigook.Web/src/pages/agency/accounting/CreatePayStub.vue
  Sigook.Web/src/router/routesAgency.ts
  Sigook.Web/src/types/agency.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: Implement invitation email service and refactor invitation sending logic
  Covenant.Api/Covenant.Api/AgencyModule/AgencyRequest/Controllers/AgencyRequestController.cs
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Shared/WorkerAvailableToInvite/Controllers/WorkerAvailableToInviteController.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Configuration/SendGridConfiguration.cs
  Covenant.Api/Covenant.Common/Interfaces/IInvitationEmailService.cs
  Covenant.Api/Covenant.Common/Models/Agency/InvitationToApplyModel.cs
  Covenant.Api/Covenant.Common/Models/Worker/AvailableToInvitePagination.cs
  Covenant.Api/Covenant.Common/Models/Worker/WorkerContactInfoModel.cs
  Covenant.Api/Covenant.Common/Repositories/Worker/IWorkerRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IRequestService.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Covenant.Api/Covenant.Infrastructure/Services/SendGridInvitationEmailService.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Shared/WorkerAvailableToInvite/WorkerAvailableToInviteControllerTest.cs
  Covenant.Api/Covenant.Tests/Request/AgencyRejectWorkerServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CancelRequestServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CreateRequestServiceTest.cs
  Sigook.Functions/Sigook.Functions/Functions/SendInvitationToApply.cs
  Sigook.Functions/Sigook.Functions/Models/SendGridSettings.cs
  Sigook.Functions/Sigook.Functions/Models/WorkerContactInfoModel.cs
  Sigook.Functions/Sigook.Functions/Program.cs
  Sigook.Functions/Sigook.Functions/Services/IEmailService.cs
  Sigook.Functions/Sigook.Functions/Services/ISigookApi.cs
  Sigook.Functions/Sigook.Functions/Services/SendGridService.cs
  Sigook.Functions/Sigook.Functions/Services/SigookApi.cs
  Sigook.Functions/Sigook.Functions/Sigook.Functions.csproj
  Sigook.Functions/Sigook.Functions/appsettings.Production.json
  Sigook.Functions/Sigook.Functions/local.settings.json
  Sigook.Web/src/api/agencyRequestApi.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Remove else case when no province is selected
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/TimeSheetRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing SendInvitation
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Configuration/SendGridConfiguration.cs
  Covenant.Api/Covenant.Common/Interfaces/IInvitationEmailService.cs
  Covenant.Api/Covenant.Common/Interfaces/ISendGridService.cs
  Covenant.Api/Covenant.Common/Models/Agency/InvitationToApplyModel.cs
  Covenant.Api/Covenant.Common/Models/TemplateRecipient.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Services/SendGridInvitationEmailService.cs
  Covenant.Api/Covenant.Infrastructure/Services/SendGridService.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
  Covenant.Api/Covenant.Tests/Request/AgencyRejectWorkerServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CancelRequestServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CreateRequestServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Fixing UT
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fix From email
  Covenant.Api/Covenant.Common/Interfaces/ISendGridService.cs
  Covenant.Api/Covenant.Common/Models/Agency/AgencyModel.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/DecimalExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Mappers/AgencyExtensionsMapping.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Services/SendGridService.cs
  Covenant.Api/Covenant.Tests/Request/AgencyRejectWorkerServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CancelRequestServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CreateRequestServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Security updates
  .azure-pipelines/covenant-web-pipeline.yml
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestCandidate/AgencyRequestApplicantControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestRecruiter/AgencyRequestRecruiterControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestShift/AgencyRequestShiftControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestWorker/Data.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/FakeData.cs
  Covenant.Api/Covenant.Tests/Request/AgencyRejectWorkerServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CancelRequestServiceTest.cs
  Covenant.Api/Covenant.Tests/Request/CreateRequestServiceTest.cs
  Covenant.Web/.npmrc
  Covenant.Web/package-lock.json
  Covenant.Web/package.json
  Covenant.Web/pnpm-lock.yaml
  Covenant.Web/pnpm-workspace.yaml
Due: .azure-pipelines/covenant-api-pipeline.yml

Security issues
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/.npmrc
  Sigook.Web/Dockerfile
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/pnpm-workspace.yaml
Due: .azure-pipelines/sigook-web-pipeline.yml

Update documentation
  .docs/technical/ARCHITECTURE.md
  .docs/technical/DEVELOPMENT_COMMANDS.md
  .docs/technical/PIPELINES.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  Covenant.Web/README.md
Due: none

feat: update error messages localization and add ESLint and Prettier configurations
  .docs/business/REQUEST_STATE_MANAGEMENT.md
  .docs/technical/ARCHITECTURE.md
  .docs/technical/ENTITIES_RELATIONSHIPS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  CLAUDE.md
  Covenant.Web/.gitattributes
  Covenant.Web/jsconfig.backup.json
  Sigook.Web/.prettierrc.json
  Sigook.Web/eslint.config.mjs
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/src/lang/en_error.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Half way there on Home page
  Sigook.Web/index.html
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
  Sigook.Web/src/App.vue
  Sigook.Web/src/assets/css/tailwind.css
  Sigook.Web/src/assets/css/tokens.css
  Sigook.Web/src/assets/images/logo-white-v2.png
  Sigook.Web/src/assets/images/v2/app-phone-graphic.png
  Sigook.Web/src/assets/images/v2/app-phone.png
  Sigook.Web/src/assets/images/v2/app-store-apple.png
  Sigook.Web/src/assets/images/v2/app-store-google.png
  Sigook.Web/src/assets/images/v2/app-wave-blue.png
  Sigook.Web/src/assets/images/v2/app-wave-white.png
  Sigook.Web/src/assets/images/v2/certified-bg.jpg
  Sigook.Web/src/assets/images/v2/deco-arrow.png
  Sigook.Web/src/assets/images/v2/hawaii-map.png
  Sigook.Web/src/assets/images/v2/hero-bg.jpg
  Sigook.Web/src/assets/images/v2/hero-logo.png
  Sigook.Web/src/assets/images/v2/recruitment-graphic.png
  Sigook.Web/src/assets/images/v2/usa-map.png
  Sigook.Web/src/assets/images/v2/why-bg.jpg
  Sigook.Web/src/assets/images/v2/worker-bg.jpg
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/components/v2/HeaderV2.vue
  Sigook.Web/src/pages/v2/HomeV2.vue
  Sigook.Web/src/router/index.ts
  Sigook.Web/src/router/routesV2.ts
  Sigook.Web/vite.config.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Home almost done
  Sigook.Web/src/assets/images/v2/canada-map.png
  Sigook.Web/src/assets/images/v2/deco-circle-1.svg
  Sigook.Web/src/assets/images/v2/deco-circle-2.svg
  Sigook.Web/src/assets/images/v2/deco-circle-3.svg
  Sigook.Web/src/assets/images/v2/deco-circle-4.svg
  Sigook.Web/src/assets/images/v2/deco-circle-5.svg
  Sigook.Web/src/assets/images/v2/deco-circle-6.svg
  Sigook.Web/src/assets/images/v2/deco-circle-7.svg
  Sigook.Web/src/assets/images/v2/deco-dots.svg
  Sigook.Web/src/assets/images/v2/deco-line-a.svg
  Sigook.Web/src/assets/images/v2/deco-line-b.svg
  Sigook.Web/src/assets/images/v2/employers-office.jpg
  Sigook.Web/src/assets/images/v2/footer-logo.png
  Sigook.Web/src/assets/images/v2/stat-dot-filled.svg
  Sigook.Web/src/assets/images/v2/stat-dot.svg
  Sigook.Web/src/assets/images/v2/stat-ellipse-1.svg
  Sigook.Web/src/assets/images/v2/stat-ellipse-2.svg
  Sigook.Web/src/assets/images/v2/stat-ellipse-3.svg
  Sigook.Web/src/assets/images/v2/talents-worker.jpg
  Sigook.Web/src/assets/images/v2/testimonials-office.jpg
  Sigook.Web/src/assets/images/v2/testimonials-quote-mark.png
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/ArrowIconV2.vue
  Sigook.Web/src/components/v2/AudienceBannerV2.vue
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/components/v2/HeaderV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/components/v2/StatCircleV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
  Sigook.Web/src/pages/v2/HomeV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: add source selection and related functionality to candidate application process
  Covenant.Api/Covenant.Api/Controllers/Sigook/CatalogController.cs
  Covenant.Api/Covenant.Common/Covenant.Common.csproj
  Covenant.Api/Covenant.Common/Models/WebSite/CandidateViewModel.cs
  Covenant.Api/Covenant.Core.BL/Consumers/NewCandidateConsumer.cs
  Covenant.Web/src/components/jobs/ApplyNowDialog.vue
  Covenant.Web/src/composables/useApplicationForm.ts
  Covenant.Web/src/services/applicationService.ts
  Covenant.Web/src/services/locationService.ts
  Covenant.Web/src/services/types/application.types.ts
  Sigook.Functions/Sigook.Functions/Models/TeamsMessage.cs
  Sigook.Functions/Sigook.Functions/Program.cs
  Sigook.Functions/Sigook.Functions/Sigook.Functions.csproj
  Sigook.Functions/Sigook.Functions/Utils/Notifications.cs
  Sigook.Web/src/api/catalogApi.ts
  Sigook.Web/src/components/candidate/CreateCandidate.vue
  Sigook.Web/src/components/landing/ApplyNow.vue
  Sigook.Web/src/constants/catalog.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Home page finishing touches
  Sigook.Web/src/assets/images/v2/certified-bg2.jpg
  Sigook.Web/src/assets/images/v2/recruitment-graphic.png
  Sigook.Web/src/assets/images/v2/usa-map.png
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  Sigook.Web/src/assets/images/v2/_figma_app_screenshot.png
  Sigook.Web/src/assets/images/v2/app-arrow.png
  Sigook.Web/src/assets/images/v2/app-arrow.svg
  Sigook.Web/src/assets/images/v2/app-cyan-ellipse.png
  Sigook.Web/src/assets/images/v2/app-cyan-ellipse.svg
  Sigook.Web/src/assets/images/v2/app-hand-phone.png
  Sigook.Web/src/assets/images/v2/app-phone-ellipse.png
  Sigook.Web/src/assets/images/v2/app-phone-ellipse.svg
  Sigook.Web/src/assets/images/v2/app-phone-graphic-blue.png
  Sigook.Web/src/assets/images/v2/app-store-apple.png
  Sigook.Web/src/assets/images/v2/app-store-google.png
  Sigook.Web/src/assets/images/v2/app-wave-blue.svg
  Sigook.Web/src/assets/images/v2/app-wave-cyan.svg
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/components/v2/HeaderV2.vue
  Sigook.Web/src/components/v2/HeroSectionV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/pages/v2/ComingSoonV2.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  Sigook.Web/src/assets/images/v2/app-hand-phone.png
  Sigook.Web/src/assets/images/v2/app-phone.png
  Sigook.Web/src/assets/images/v2/app-stores-pill.svg
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/AudienceBannerV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Home Page finished
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/GetInTouchFormV2.vue
  Sigook.Web/src/components/v2/TestimonialsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Small fixes
  Sigook.Web/src/assets/images/v2/talents-worker.jpg
  Sigook.Web/src/assets/images/v2/worker-bg.jpg
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress ...
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress
  Sigook.Web/src/shims-tsx.d.ts
  Sigook.Web/src/shims-vue.d.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Excluding files
  Covenant.Api/Covenant.Api/Covenant.Api.csproj.lscache
  Covenant.Api/Covenant.Common/Covenant.Common.csproj.lscache
  Covenant.Api/Covenant.Core.BL/Covenant.Core.BL.csproj.lscache
  Covenant.Api/Covenant.Documents/Covenant.Documents.csproj.lscache
  Covenant.Api/Covenant.Infrastructure/Covenant.Infrastructure.csproj.lscache
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj.lscache
  Covenant.Api/Covenant.Test.Utils/Covenant.Test.Utils.csproj.lscache
  Covenant.Api/Covenant.Tests/Covenant.Tests.csproj.lscache
  Covenant.IdentityServer/Covenant.IdentityServer/Covenant.IdentityServer.csproj.lscache
  Sigook.CognitiveServices/Sigook.CognitiveServices.Core/Sigook.CognitiveServices.Core.csproj.lscache
  Sigook.CognitiveServices/Sigook.CognitiveServices.Infraestructure/Sigook.CognitiveServices.Infraestructure.csproj.lscache
  Sigook.CognitiveServices/Sigook.CognitiveServices.UI/Sigook.CognitiveServices.UI.csproj.lscache
  Sigook.Functions/Sigook.Functions/Sigook.Functions.csproj.lscache
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

feat: update candidate filtering to support multiple sources and refactor health check middleware
  .gitignore
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Configuration/Swagger/DefaultResponsesOperationFilter.cs
  Covenant.Api/Covenant.Api/Extensions/HealthCheckExtensions.cs
  Covenant.Api/Covenant.Api/Middlewares/BufferingMiddleware.cs
  Covenant.Api/Covenant.Api/Program.cs
  Covenant.Api/Covenant.Api/Security/Models/PaymentMethodCreateModel.cs
  Covenant.Api/Covenant.Common/Models/Candidate/GetCandidatesFilter.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Sigook.Web/src/pages/agency/Candidates.vue
  Sigook.Web/src/types/candidate.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/InvoiceDocument/AccountingInvoiceDocumentV4ControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

feat: update OpenAPI document generation to skip on CI builds
  Covenant.Api/Covenant.Api/Covenant.Api.csproj
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing Dockerfile
  Covenant.Api/Dockerfile
Due: .azure-pipelines/covenant-api-pipeline.yml

Why choose us section fixed for mobile devices
  Sigook.Web/src/assets/images/v2/app-wave-blue-mob.svg
  Sigook.Web/src/assets/images/v2/app-wave-cyan-mob.svg
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/CertifiedSectionV2.vue
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/NumbersSectionV2.vue
  Sigook.Web/src/components/v2/WhyChooseUsSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Special Projects mobile breakpoint structure finished
  Sigook.Web/src/pages/v2/SpecialProjectsV2.vue
  Sigook.Web/src/router/routesV2.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Footer fixed
  Sigook.Web/public/images/v2/sp-hero-bg.png
  Sigook.Web/src/components/v2/ContactSectionV2.vue
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/pages/v2/SpecialProjectsV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: add RequestSource migration and JobBoardsModal component
  .docs/technical/ENTITIES_RELATIONSHIPS.md
  .docs/technical/openapi.json
  .gitignore
  Covenant.Api/Covenant.Api/AgencyModule/AgencyPersonnel/Controllers/AgencyPersonnelController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyRequest/Controllers/AgencyRequestController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/CatalogController.cs
  Covenant.Api/Covenant.Common/Entities/Request/Request.cs
  Covenant.Api/Covenant.Common/Entities/Request/RequestSource.cs
  Covenant.Api/Covenant.Common/Entities/Source.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyRequestListModel.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyRequestsPagedResponse.cs
  Covenant.Api/Covenant.Common/Models/Request/CreateRequestSourceModel.cs
  Covenant.Api/Covenant.Common/Models/Request/GetRequestForAgencyFilter.cs
  Covenant.Api/Covenant.Common/Models/Request/RequestSourceDetailModel.cs
  Covenant.Api/Covenant.Common/Models/Request/RequestSourceSummaryModel.cs
  Covenant.Api/Covenant.Common/Repositories/Agency/IAgencyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/ICatalogRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRequestRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IRequestService.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Request/RequestConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Request/RequestSourceConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/SourceConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Contexts/CovenantContext.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260520004033_AddRequestSource.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260520004033_AddRequestSource.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Agency/AgencyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/CatalogRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Sigook.Web/src/api/agencyRequestApi.ts
  Sigook.Web/src/api/catalogApi.ts
  Sigook.Web/src/components/agency_request/JobBoardsModal.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/types/agency.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Special Projects done
  Sigook.Web/public/images/v2/sp-icon-collaborate.png
  Sigook.Web/public/images/v2/sp-icon-featured-initiative.png
  Sigook.Web/public/images/v2/sp-icon-focus-areas.png
  Sigook.Web/public/images/v2/sp-icon-future-initiatives.png
  Sigook.Web/src/assets/images/v2/app-ellipse-17.svg
  Sigook.Web/src/assets/images/v2/app-ellipse-22.svg
  Sigook.Web/src/assets/images/v2/app-phone.png
  Sigook.Web/src/assets/images/v2/app-stores.svg
  Sigook.Web/src/assets/images/v2/app-wave-cobalt.png
  Sigook.Web/src/assets/images/v2/app-wave-cyan.png
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
  Sigook.Web/src/components/v2/FooterV2.vue
  Sigook.Web/src/components/v2/GetInTouchFormV2.vue
  Sigook.Web/src/components/v2/HeaderV2.vue
  Sigook.Web/src/pages/v2/SpecialProjectsV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Progress with App Section
  Sigook.Web/src/assets/images/v2/app-download/app-cyan-ellipse.svg
  Sigook.Web/src/assets/images/v2/app-download/app-phone-ellipse.svg
  Sigook.Web/src/assets/images/v2/app-download/app-phone-graphic-blue.png
  Sigook.Web/src/assets/images/v2/app-download/app-phone-graphic.png
  Sigook.Web/src/assets/images/v2/app-download/app-store-apple.png
  Sigook.Web/src/assets/images/v2/app-download/app-store-google.png
  Sigook.Web/src/assets/images/v2/app-download/app-stores-pill.svg
  Sigook.Web/src/assets/images/v2/app-download/app-wave-cobalt.png
  Sigook.Web/src/assets/images/v2/app-download/app-wave-cyan.png
  Sigook.Web/src/components/v2/AppDownloadSectionV2.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
