Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

test: fix aab
  SigookApp/fastlane/Fastfile
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

test: fix aab
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/ios/ExportOptions-staging.plist
  SigookApp/ios/Runner/Info.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

test: fix aab
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: detalles de diseño en responsive y desktop
  covenantWeb/src/assets/images/Section-OurNumbers.svg
  covenantWeb/src/assets/images/logo-covenant-footer.png
  covenantWeb/src/assets/images/logo-covenant-footer.svg
  covenantWeb/src/assets/images/logo-covenant-white.png
  covenantWeb/src/assets/images/logo-covenant-white.svg
  covenantWeb/src/assets/our-numbers.svg
  covenantWeb/src/components/employers/EmployersMainSection.vue
  covenantWeb/src/components/home/EmployersTalentsSection.vue
  covenantWeb/src/components/home/HeroSection.vue
  covenantWeb/src/components/home/HomeContact.vue
  covenantWeb/src/components/home/StatsOverview.vue
  covenantWeb/src/components/industries/IndustriesGrid.vue
  covenantWeb/src/components/layout/ContactForm.vue
  covenantWeb/src/components/layout/MainFooter.vue
  covenantWeb/src/components/layout/MainNavbar.vue
  covenantWeb/src/components/open-positions/JobsListSection.vue
  covenantWeb/src/components/partners/PartnerTypesSection.vue
  covenantWeb/src/components/talents/TalentsMainSection.vue
Due: .azure-pipelines/covenantweb-pipeline.yml

test: fix aab
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/AZURE_DEVOPS_COMPLETE_SETUP.md
  SigookApp/PLAYSTORE_COMPLETE_GUIDE.md
  SigookApp/android/app/build.gradle.kts
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: actualizacion de textos y solucion de errores
  covenantWeb/src/assets/json/RolesTalentsData.json
  covenantWeb/src/components/employers/EmployersMainSection.vue
  covenantWeb/src/components/talents/RolesTalents.vue
  covenantWeb/src/components/talents/TalentsMainSection.vue
  covenantWeb/src/router/index.ts
Due: .azure-pipelines/covenantweb-pipeline.yml

feat: enable main and master branch triggers in CovenantWeb pipeline
  .azure-pipelines/covenantweb-pipeline.yml
Due: .azure-pipelines/covenantweb-pipeline.yml

feat: redes sociales en el footer
  covenantWeb/src/assets/images/footer-icons/Facebook.svg
  covenantWeb/src/assets/images/footer-icons/Instagram.svg
  covenantWeb/src/assets/images/footer-icons/Linkedin.svg
  covenantWeb/src/assets/images/footer-icons/indeed.svg
  covenantWeb/src/assets/images/footer-icons/ziprecruiter.svg
  covenantWeb/src/assets/json/TalentsData.json
  covenantWeb/src/components/employers/EmployersMainSection.vue
  covenantWeb/src/components/layout/MainFooter.vue
  covenantWeb/src/components/open-positions/JobsListSection.vue
  covenantWeb/src/components/partners/WhyPartnerSection.vue
Due: .azure-pipelines/covenantweb-pipeline.yml

test: fix aab
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/Runner/Info.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: redireccion de botones en el home
  covenantWeb/src/assets/images/hero-industrial.png
  covenantWeb/src/assets/images/hero-professional.png
  covenantWeb/src/assets/images/hero-talents-industrial.png
  covenantWeb/src/assets/images/hero-talents-professional.png
  covenantWeb/src/assets/images/industries-bg-movil.png
  covenantWeb/src/assets/images/partner-hero-man.png
  covenantWeb/src/assets/images/why-choose.png
  covenantWeb/src/components/home/NationwideSection.vue
Due: .azure-pipelines/covenantweb-pipeline.yml

app logo changed
  SigookApp/android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  SigookApp/android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  SigookApp/android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  SigookApp/android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  SigookApp/android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  SigookApp/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  SigookApp/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  SigookApp/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  SigookApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  SigookApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  SigookApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  SigookApp/android/app/src/main/res/values/colors.xml
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  SigookApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Due: .azure-pipelines/sigookapp-pipeline.yml

app icon replaced
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

test: ios IPA
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.env.example
  SigookApp/.gitignore
  SigookApp/.vscode/launch.json
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/lib/core/config/env_loader.dart
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/main_common.dart
  SigookApp/lib/main_local.dart
  SigookApp/lib/main_production.dart
  SigookApp/lib/main_staging.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Improve health checks and config validation robustness
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/HealthChecks/AzureServiceBusHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/AzureStorageConfigurationHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/AzureStorageHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/DatabaseConfigurationHealthCheck.cs
  Covenant.Api/Covenant.Api/HealthChecks/ServiceBusConfigurationHealthCheck.cs
  Covenant.Api/Covenant.Api/Program.cs
  Covenant.Api/Covenant.Tests/Billing/TestTotalizator.cs
  Covenant.Api/Covenant.TimeSheetTotal/Services/TimeSheetTotalCalculator.cs
  Covenant.Api/Covenant.TimeSheetTotal/Services/Totalizator.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

chore(pipeline): optimize for iOS IPA build only
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix(pipeline): configure manual signing before flutter build
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix(ios): add DEVELOPMENT_TEAM to Xcode project for CI builds
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
Due: .azure-pipelines/sigookapp-pipeline.yml

test: ios IPA
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

refactor: clean up invoice constants and improve invoice item handling
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
  Covenant.Api/Covenant.Common/Entities/Accounting/Invoice/InvoiceUSAItem.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Accounting/InvoiceUSAItemConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Contexts/CovenantContext.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/InvoiceRepository.cs
  Covenant.Api/Covenant.Tests/Billing/TestGetInvoiceSummary.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/AccountController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/ExternalController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Consent/ConsentController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Program.cs
  Sigook.Web/src/components/landing/Footer.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

test: ios IPA
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/Gemfile
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor TimeSheetTotal removal in invoice deletion
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/InvoiceRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Migrate Covenant.Api from .NET 6 to .NET 8
  Covenant.Api/Covenant.Api/Covenant.Api.csproj
  Covenant.Api/Covenant.Api/HealthChecks/StartupFailureHealthCheck.cs
  Covenant.Api/Covenant.AppCommission/Covenant.AppCommission.csproj
  Covenant.Api/Covenant.AppCommissionCharge/Covenant.AppCommissionCharge.csproj
  Covenant.Api/Covenant.Billing.Common/Covenant.Billing.Common.csproj
  Covenant.Api/Covenant.Billing/Covenant.Billing.csproj
  Covenant.Api/Covenant.Common/Covenant.Common.csproj
  Covenant.Api/Covenant.Common/Interfaces/IStartupFailureService.cs
  Covenant.Api/Covenant.Common/Models/StartupFailure.cs
  Covenant.Api/Covenant.Company/Covenant.Company.csproj
  Covenant.Api/Covenant.Core.BL/Covenant.Core.BL.csproj
  Covenant.Api/Covenant.CreateInvoiceCharge/Covenant.CreateInvoiceCharge.csproj
  Covenant.Api/Covenant.Deductions/Covenant.Deductions.csproj
  Covenant.Api/Covenant.Documents/Covenant.Documents.csproj
  Covenant.Api/Covenant.HtmlTemplates/Covenant.HtmlTemplates.csproj
  Covenant.Api/Covenant.Infrastructure/Covenant.Infrastructure.csproj
  Covenant.Api/Covenant.Infrastructure/Services/StartupFailureService.cs
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj
  Covenant.Api/Covenant.InvoicePaymentSupport/Covenant.InvoicePaymentSupport.csproj
  Covenant.Api/Covenant.Invoices/Covenant.Invoices.csproj
  Covenant.Api/Covenant.Notifications/Covenant.Notifications.csproj
  Covenant.Api/Covenant.PayStubs/Covenant.PayStubs.csproj
  Covenant.Api/Covenant.ReportWorkersSINExpired/Covenant.ReportWorkersSINExpired.csproj
  Covenant.Api/Covenant.Reports/Covenant.Reports.csproj
  Covenant.Api/Covenant.Request/Covenant.Request.csproj
  Covenant.Api/Covenant.Subcontractor/Covenant.Subcontractor.csproj
  Covenant.Api/Covenant.Test.Utils/Covenant.Test.Utils.csproj
  Covenant.Api/Covenant.Tests/Covenant.Tests.csproj
  Covenant.Api/Covenant.TimeSheetTotal/Covenant.TimeSheetTotal.csproj
  Covenant.Api/Covenant.WarnExpiredLicenses/Covenant.WarnExpiredLicenses.csproj
  Covenant.Api/Covenant.WorkerRequest/Covenant.WorkerRequest.csproj
  Covenant.Api/Dockerfile
  Covenant.Api/global.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Update Azure Pipelines for .NET 8 migration
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/templates/dotnet-setup.yml
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Update Covenant.Common NuGet pipeline for .NET 8
  .azure-pipelines/covenant-common-nuget-pipeline.yml
Due: none

test: ios IPA
  SigookApp/Gemfile
  SigookApp/fastlane/Appfile
  SigookApp/fastlane/Fastfile
  SigookApp/ios/ExportOptions-staging.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

test: ios IPA
  SigookApp/fastlane/Fastfile
  SigookApp/ios/Podfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixt ipa
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Fix test isolation issue by creating independent request instances
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyAnonymousTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

test: fix IPA
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/Gemfile
  SigookApp/fastlane/Appfile
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Simplify Request entity reference by adding using statement
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyAnonymousTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

TEST: Fix IPA
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

TEST: Fix IPA
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor WorkerRequestControllerApplyAnonymousTest
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyAnonymousTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Configure xunit.runner.json to copy to output directory in test projects
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj
  Covenant.Api/Covenant.Integration.Tests/xunit.runner.json
  Covenant.Api/Covenant.Tests/Covenant.Tests.csproj
  Covenant.Api/Covenant.Tests/xunit.runner.json
Due: .azure-pipelines/covenant-api-pipeline.yml

Refactor AgencyCompanyProfileLocationControllerTest to use file-scoped namespace and improve test configuration
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyCompanyProfileLocation/AgencyCompanyProfileLocationControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj
  Covenant.Api/Covenant.Integration.Tests/CustomWebApplicationFactory.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerApplyAnonymousTest.cs
  Covenant.Api/Covenant.Integration.Tests/xunit.runner.json
  Covenant.Api/Covenant.Tests/Covenant.Tests.csproj
  Covenant.Api/Covenant.Tests/xunit.runner.json
Due: .azure-pipelines/covenant-api-pipeline.yml

Add location search filter to worker profile queries
  Covenant.Api/Covenant.Common/Models/Worker/GetWorkerProfileFilter.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Sigook.Web/src/pages/agency/Workers.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
