Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Phone number corrected
  Sigook.Web/src/components/landing/shared/layout/Footer.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Modal corrections
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Changes applied
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Improve inner joins
  Covenant.Api/Covenant.Infrastructure/Migrations/20260601142319_ReplaceProvinceTaxesWithLocationTaxes.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260601142319_ReplaceProvinceTaxesWithLocationTaxes.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260604211136_CleanupCandidatesAlreadyWorkers.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260604211136_CleanupCandidatesAlreadyWorkers.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260615020403_AddWeeklyBoardRecruiterAssignment.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260615020403_AddWeeklyBoardRecruiterAssignment.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260629214508_AddRunners.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260629214508_AddRunners.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260629220333_FixWorkerDispatchCreatedByToUserFk.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260629220333_FixWorkerDispatchCreatedByToUserFk.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260713135858_RemoveInvalidUsers.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260713135858_RemoveInvalidUsers.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/InvoiceRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/PayStubRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/SubcontractorRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Notification/NotificationDataRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/TimeSheetRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/WorkerRequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing build
  Covenant.IdentityServer/Covenant.IdentityServer/BackgroundServices/SigookIdentityBackgroundService.cs
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Fixing build
  Sigook.Web/pnpm-lock.yaml
Due: .azure-pipelines/sigook-web-pipeline.yml

CPP tables with Blob Storage
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCandidate/Controllers/AgencyCandidateController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCandidateDocument/Controllers/AgencyCandidateDocumentController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCandidateNote/Controllers/AgencyCandidateNoteController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCandidatePhoneNumber/Controllers/AgencyCandidatePhoneNumberController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCandidateSkill/Controllers/AgencyCandidateSkillController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyPersonnel/Controllers/AgencyPersonnelController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyPersonnel/Controllers/PersonnelAgencyController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerComment/Controllers/AgencyWorkerCommentController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerProfile/Controllers/AgencyWorkerProfileController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerProfileHoliday/Controllers/AccountingWorkerProfileHolidayV2Controller.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerProfileNote/AgencyWorkerProfileNoteController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerProfileRequestHistory/Controllers/AgencyWorkerProfileRequestHistoryController.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/CandidatesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/DocumentsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/NotesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/PhoneNumbersControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/SkillsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Personnel/AgenciesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Personnel/PersonnelControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/CommentsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/NotesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/RequestHistoryControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/WorkersControllerEmailTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/WorkersControllerTest.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/AccountingConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/AndroidConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/IOSConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/InternalCovenantClient.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/ScheduleClient.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Style sales dashboard with agency-primary purple and Buefy buttons
  Sigook.Web/src/assets/scss/variables.scss
  Sigook.Web/src/components/sales_dashboard/SalesBarChart.vue
  Sigook.Web/src/components/sales_dashboard/SalesCard.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionList.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

CPP updates and domain improvements
  .docs/business/PAYROLL_RULES.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/DeductionCppController.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/IDeductionsRepository.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/CppDeductionImportService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/DeductionsRepository.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/CppDeductionImportServiceTest.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/DeductionsRepositoryTest.cs
  Sigook.Web/nginx.conf
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

CRA Tables
  .docs/README.md
  .docs/business/PAYROLL_RULES.md
  .docs/technical/ARCHITECTURE.md
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/InvoicesController.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/DecimalExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/AccountingService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/DeductionImportService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Invoices/CanadaInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Invoices/InvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Invoices/InvoiceServiceFactory.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Invoices/UsaInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/PayStubService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Shared/TimesheetCalculatorService.cs
  Covenant.Api/Covenant.Infrastructure/Services/CraPdfParser.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/CraPdfParserTest.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/DeductionImportServiceTest.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/GeneratePayStubHolidayPayTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Refactor for storages
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/InvoicesController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/PayStubsController.cs
  Covenant.Api/Covenant.Common/Interfaces/Accounting/ICraPdfParser.cs
  Covenant.Api/Covenant.Common/Interfaces/IPdfGeneratorService.cs
  Covenant.Api/Covenant.Common/Interfaces/Storage/IBaseAzureStorage.cs
  Covenant.Api/Covenant.Common/Models/Accounting/Invoice/InvoiceDocument.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/PayStubDocument.cs
  Covenant.Api/Covenant.Common/Models/Pdf/PdfResult.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/DeductionImportService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Invoices/InvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Accounting/PayStubService.cs
  Covenant.Api/Covenant.Infrastructure/Services/CraPdfParser.cs
  Covenant.Api/Covenant.Infrastructure/Services/PdfGeneratorService.cs
  Covenant.Api/Covenant.Infrastructure/Services/Storage/BaseAzureStorage.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/InvoiceDocument/AccountingInvoiceDocumentV4ControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Shared/InvoiceDocument/InvoiceDocumentControllerTest.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/CraPdfParserTest.cs
  Covenant.Api/Covenant.Tests/Accounting/Deductions/DeductionImportServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Rebuild sales dashboard charts with D3
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/src/components/sales_dashboard/SalesBarChart.vue
  Sigook.Web/src/components/sales_dashboard/SalesGoalDonut.vue
  Sigook.Web/src/components/sales_dashboard/SalesMeterList.vue
  Sigook.Web/src/composables/useElementSize.ts
  Sigook.Web/src/composables/useTween.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Deals/CompanyInteractions fixes
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/AgencyInvoice/AccountingInvoiceV4ControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AccountingModule/InvoiceDocument/AccountingInvoiceDocumentV4ControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Shared/InvoiceDocument/InvoiceDocumentControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Database pipeline
  .azure-pipelines/database-refresh-pipeline.yml
  .docs/technical/PIPELINES.md
  .gitattributes
  Sigook.Database/Scripts/database-refresh.sh
Due: none

Pipeline improvements
  .azure-pipelines/database-refresh-pipeline.yml
  .docs/technical/PIPELINES.md
Due: none

Fixing Bug
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfile.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Request/WorkerRequestConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Bug fixes
  Covenant.Api/Covenant.Common/Repositories/Agency/IAgencyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Candidate/ICandidateRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRequestRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Worker/IWorkerRepository.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/PaginatedListExtensions.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Agency/AgencyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj
  Covenant.Api/Covenant.Integration.Tests/Properties/launchSettings.json
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/composables/useGridSort.ts
  Sigook.Web/src/pages/agency/Agencies.vue
  Sigook.Web/src/pages/agency/Candidates.vue
  Sigook.Web/src/pages/agency/Companies.vue
  Sigook.Web/src/pages/agency/Workers.vue
  Sigook.Web/src/pages/agency/accounting/Invoices.vue
  Sigook.Web/src/pages/agency/accounting/PayStubs.vue
  Sigook.Web/src/pages/company/Requests.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Bug Fixes
  Covenant.Api/Covenant.Integration.Tests/Covenant.Integration.Tests.csproj
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing Issues
  .codegraph/.gitignore
  .codegraph/config.json
  .gitignore
  Covenant.Api/Covenant.Common/Entities/Location.cs
  Covenant.Api/Covenant.Core.BL/Services/CompanyService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Agency/AgencyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/WorkerRequestRepository.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/FakeData.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/FileAssert.cs
  README.md
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

fix: Client Creation Modal
  Covenant.Api/Covenant.Infrastructure/Migrations/20260716154057_AddCompanyInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260719184620_AddDeals.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260719184620_AddDeals.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260806143015_AddDealsAndCompanyInteractions.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260806143015_AddDealsAndCompanyInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/CovenantContextModelSnapshot.cs
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fix style conflicts
  Sigook.Web/src/components/sales_dashboard/SalesBarChart.vue
  Sigook.Web/src/components/sales_dashboard/SalesCard.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/components/sales_dashboard/SalesGoalDonut.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionList.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Update Sigook documentation
  .docs/README.md
  .docs/business/BILLING_RULES.md
  .docs/business/BUSINESS_MODEL.md
  .docs/business/PAYROLL_RULES.md
  .docs/business/PAYSTUB_GENERATION.md
  .docs/business/WORKFLOWS.md
  CLAUDE.md
Due: none

fix: reveal datepicker and autocomplete dropdowns inside sales modals
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/composables/useDropdownReveal.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: add FluentValidation validators for deals and company interactions
  Covenant.Api/Covenant.Api/Validators/Company/CreateCompanyInteractionModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/CreateDealModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/UpdateCompanyInteractionModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/UpdateDealModelValidator.cs
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Deals and Interactions corrections
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/CompanyInteractionsController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/DealsController.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ICompanyInteractionService.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IDealService.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ISalesService.cs
  Covenant.Api/Covenant.Core.BL/Services/CompanyInteractionService.cs
  Covenant.Api/Covenant.Core.BL/Services/DealService.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: deals and interactions unified into company types.
  Sigook.Web/src/api/companyInteractionApi.ts
  Sigook.Web/src/api/dealApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionList.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
  Sigook.Web/src/types/company.ts
  Sigook.Web/src/types/companyInteraction.ts
  Sigook.Web/src/types/deal.ts
  Sigook.Web/src/types/salesDashboard.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: Unit Tests created and sales validation inside of SalesServices' methods removed
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: names corrected
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Common/Entities/Company/CompanyInteraction.cs
  Covenant.Api/Covenant.Common/Entities/Company/Deal.cs
  Covenant.Api/Covenant.Common/Models/Company/DealListModel.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/CompanyInteractionConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/DealConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260809152827_UpdateDealAndCompanyInteractionSchema.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260809152827_UpdateDealAndCompanyInteractionSchema.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Enums moved into Enums folder
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Common/Entities/Company/CompanyInteraction.cs
  Covenant.Api/Covenant.Common/Entities/Company/Deal.cs
  Covenant.Api/Covenant.Common/Enums/DealStatus.cs
  Covenant.Api/Covenant.Common/Enums/DealType.cs
  Covenant.Api/Covenant.Common/Enums/GetCompanyInteractionsSortBy.cs
  Covenant.Api/Covenant.Common/Enums/GetDealsSortBy.cs
  Covenant.Api/Covenant.Common/Enums/InteractionPurpose.cs
  Covenant.Api/Covenant.Common/Enums/InteractionStatus.cs
  Covenant.Api/Covenant.Common/Enums/InteractionType.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyInteractionListModel.cs
  Covenant.Api/Covenant.Common/Models/Company/CreateCompanyInteractionModel.cs
  Covenant.Api/Covenant.Common/Models/Company/CreateDealModel.cs
  Covenant.Api/Covenant.Common/Models/Company/DealListModel.cs
  Covenant.Api/Covenant.Common/Models/Company/GetCompanyInteractionsFilter.cs
  Covenant.Api/Covenant.Common/Models/Company/GetDealsFilter.cs
  Covenant.Api/Covenant.Common/Models/Company/UpdateCompanyInteractionModel.cs
  Covenant.Api/Covenant.Common/Models/Company/UpdateDealModel.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml
