Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

Refactor agency location tests and test startup config
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Add comprehensive documentation reference section to CLAUDE.md
  .docs/API_ENDPOINTS.md
  .docs/ARCHITECTURE.md
  .docs/BILLING_RULES.md
  .docs/BUSINESS_MODEL.md
  .docs/ENTITIES_RELATIONSHIPS.md
  .docs/PAYROLL_RULES.md
  .docs/README.md
  .docs/TIMESHEET_RULES.md
  .docs/WORKFLOWS.md
  CLAUDE.md
Due: none

Update documentation to reflect covenantWeb to Covenant.Web rename
  .docs/ARCHITECTURE.md
  CLAUDE.md
  Covenant.Web/README.md
Due: none

Refactor order state management to use explicit status flow
  .docs/REQUEST_STATE_MANAGEMENT.md
  Covenant.Api/Covenant.Common/Entities/Request/Request.cs
  Covenant.Api/Covenant.Common/Enums/RequestStatus.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyRequestListModel.cs
  Covenant.Api/Covenant.Documents/Services/GenerateAgencyRequestsReport.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260123002058_RefactorRequestStatusStates.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260123002058_RefactorRequestStatusStates.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/WorkerRequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
  Covenant.Api/Covenant.Tests/Request/RequestTest.cs
  Sigook.Web/src/assets/scss/base.scss
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/lang/en.json
  Sigook.Web/src/lang/es.json
  Sigook.Web/src/lang/fr.json
  Sigook.Web/src/pages/agency/Request.vue
  Sigook.Web/src/pages/company/Request.vue
  Sigook.Web/src/pages/worker/Request.vue
  Sigook.Web/src/varaibles.js
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fix migration to use string-based status transformation
  Covenant.Api/Covenant.Infrastructure/Migrations/20260123002058_RefactorRequestStatusStates.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Refactor status handling to use $statusFilled in various components and styles
  Sigook.Web/src/assets/scss/base.scss
  Sigook.Web/src/assets/scss/requests.scss
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/components/request/RequestDetail.vue
  Sigook.Web/src/components/worker/RequestDetail.vue
  Sigook.Web/src/mixins/calendarMixin.js
  Sigook.Web/src/pages/worker/History.vue
  Sigook.Web/src/pages/worker/Requests.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Update test cases to use FakeRequestToCancel for cancellation scenarios
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/AgencyRequestControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

feat: nuevos links en el footer
  Covenant.Web/src/components/layout/MainFooter.vue
Due: none

fix: Update SigookApp OAuth redirect URI and disable pipeline
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/android/app/build.gradle.kts
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Enhance request status management and update related components for improved order handling
  Covenant.Api/Covenant.Common/Entities/Request/Request.cs
  Covenant.Api/Covenant.Tests/Request/RequestTest.cs
  Sigook.Web/src/components/agency_request/AgencyRequestDetail.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/components/request/RequestDetail.vue
  Sigook.Web/src/pages/agency/Request.vue
  Sigook.Web/src/pages/company/Request.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

ExportOptions-staging.plist
  SigookApp/ios/ExportOptions-staging.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor CandidateViewModelValidator and update ApplyNow.vue to enforce skill length limit
  Covenant.Api/Covenant.Api/Validators/Candidate/CandidateViewModelValidator.cs
  Sigook.Web/src/components/landing/ApplyNow.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: Enable full CI/CD pipeline with signing verification
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Remove invalid Azure DevOps expression syntax
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Use actual secure file names instead of variables
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

sigookbeta.mobileprovision corrected
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Use macos-latest for Azure DevOps agent pool
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Pin file_picker to 10.3.7 to fix build
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: hover en about hero
  Covenant.Web/src/components/about/AboutHeroStatsSection.vue
Due: none

feat: Enable all SigookApp pipeline stages
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Include pipeline file in trigger paths
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Remove READ_MEDIA_IMAGES permission and fix iOS camera permission
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/ios/Runner/Info.plist
  SigookApp/lib/features/registration/data/repositories/image_picker_repository_imp.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

refactor: Restructure pipeline for PR-only deployment
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Make deploy stages non-blocking and report status only
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

sigookbeta to sigook app for production
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

sigookbeta to sigook app for production
  cascade/02c39203-8fbc-44ec-bab2-b53fcd024556.pb
  cascade/12b4d47d-9a74-4003-8857-2a4a20f25d9e.pb
  cascade/25751c17-91f3-4198-a9d7-eb988da906f8.pb
  cascade/26674967-f238-425a-a95a-dcffb5f38e12.pb
  cascade/3b804f2b-0ae4-429a-9710-3d4cd50dac91.pb
  cascade/51a6ac72-d441-4038-9523-851ccacc03c6.pb
  cascade/58d2d960-3109-4cdf-b43a-7f253f0e9623.pb
  cascade/5f2bd68b-313c-4afb-93cf-c2476b978aec.pb
  cascade/7cb9ea48-295e-437a-b2ba-44d3260a8045.pb
  cascade/84071021-0105-465d-ab4d-449ba2f8b460.pb
  cascade/97a65f1b-b0ab-4de6-b4f9-97f8003f30db.pb
  cascade/9fc4fa19-ea2f-4db4-aa93-a3968961dccc.pb
  cascade/c3f9e5d5-f805-452c-abef-884a76f21b99.pb
  cascade/ca3951eb-be5e-4b01-8d56-f881f91e36e9.pb
  cascade/dec73e7f-dab1-4613-b8dd-8b328edb059e.pb
  cascade/ed0a3fc9-7eac-4470-9300-67015ad70dc9.pb
  cascade/f04ba76f-804a-42a4-bf6f-89f7c59f8847.pb
Due: none

refactor: Update CI/CD pipeline to improve trigger policies and use reusable Fastlane setup template
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/fastlane-setup.yml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

fix: Update caching key in CI/CD pipeline to use only pubspec.yaml
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor Request Status Management
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/REQUEST_STATE_MANAGEMENT.md
  Covenant.Api/Covenant.Api/ManagerModule/ScheduleTasks/ScheduleTasksController.cs
  Covenant.Api/Covenant.Common/Entities/Request/Request.cs
  Covenant.Api/Covenant.Common/Enums/RequestStatus.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRequestRepository.cs
  Covenant.Api/Covenant.Documents/Services/GenerateAgencyRequestsReport.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260123002058_RefactorRequestStatusStates.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/CovenantContextModelSnapshot.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/WorkerRequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Covenant.Api/Covenant.Tests/Request/RequestTest.cs
  Sigook.Web/src/assets/scss/base.scss
  Sigook.Web/src/components/agency/AgencyWorkers.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/lang/en.json
  Sigook.Web/src/lang/es.json
  Sigook.Web/src/lang/fr.json
  Sigook.Web/src/pages/agency/Request.vue
  Sigook.Web/src/pages/company/Request.vue
  Sigook.Web/src/pages/worker/Request.vue
  Sigook.Web/src/varaibles.js
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: Clean up pipeline triggers by removing unnecessary paths
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/sigookfunctions-pipeline.yml
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: Remove unused test case from ScheduleTasksControllerTest
  Covenant.Api/Covenant.Integration.Tests/ManagerModule/ScheduleTasks/ScheduleTasksControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Add Privacy Policy and Terms and Conditions views
  Covenant.Web/src/components/jobs/ApplyNowDialog.vue
  Covenant.Web/src/components/layout/MainFooter.vue
  Covenant.Web/src/router/index.ts
  Covenant.Web/src/views/DisclaimerView.vue
  Covenant.Web/src/views/PrivacyPolicyView.vue
  Covenant.Web/src/views/TermsConditionsView.vue
Due: none

fix: links duplicados en el footer
  Covenant.Web/src/components/layout/MainFooter.vue
Due: none

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
