Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Add ProfilePreferences component for worker profile management
  Sigook.Web/src/components/worker/ProfilePreferences.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Refactor worker profile components for improved structure and functionality
  Sigook.Web/src/components/Comments.vue
  Sigook.Web/src/components/worker/ProfileComments.vue
  Sigook.Web/src/components/worker/ProfilePersonal.vue
  Sigook.Web/src/components/worker/ProfilePreferences.vue
  Sigook.Web/src/components/worker/WorkerAccountSecurity.vue
  Sigook.Web/src/pages/worker/WorkerProfile.vue
  Sigook.Web/src/store/modules/worker.js
Due: .azure-pipelines/sigook-web-pipeline.yml

About, Terms and Conditions, and Privacy were added
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/legal/presentation/pages/legal_page.dart
  SigookApp/lib/features/legal/presentation/pages/privacy_policy_page.dart
  SigookApp/lib/features/legal/presentation/pages/terms_page.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/domain/repositories/profile_repository.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/providers/profile_providers.dart
  SigookApp/lib/features/registration/presentation/pages/account_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

refactor(workerRequest): remove unused agency fields from request model assertions
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerProfileTest/WorkerProfileUpdateControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequest/WorkerRequestControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

History Screen finished
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/history/data/datasources/history_remote_datasource.dart
  SigookApp/lib/features/history/data/repositories/history_repository_impl.dart
  SigookApp/lib/features/history/domain/repositories/history_repository.dart
  SigookApp/lib/features/history/domain/usecases/get_history.dart
  SigookApp/lib/features/history/presentation/pages/history_page.dart
  SigookApp/lib/features/history/presentation/providers/history_providers.dart
  SigookApp/lib/features/history/presentation/viewmodels/history_state.dart
  SigookApp/lib/features/history/presentation/viewmodels/history_state.freezed.dart
  SigookApp/lib/features/history/presentation/viewmodels/history_viewmodel.dart
  SigookApp/lib/features/history/presentation/viewmodels/history_viewmodel.g.dart
  SigookApp/lib/features/history/presentation/widgets/history_card.dart
  SigookApp/lib/features/jobs/data/datasources/jobs_remote_datasource.dart
  SigookApp/lib/features/jobs/data/models/job_details_model.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

User Profile Update configured
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/repositories/profile_repository.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

logout fixed
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Ready to deploy
  SigookApp/lib/features/jobs/presentation/pages/jobs_page_backup.dart
  SigookApp/lib/features/jobs/presentation/widgets/job_details_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Sigook App almost finished
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Splash Screen Edits
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

fix(paystub): update holiday premium pay hours label for accuracy
  Covenant.Api/Covenant.Common/Entities/Accounting/PayStub/PayStubItem.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Splash screen and welcome page
  SigookApp/assets/images/welcome-screen/welcome-page.png
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Welcome page fixes
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Add AgencyFullName to request DTOs in RequestRepository
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Update pipeline triggers to manual for production deployments and document pay stub generation process
  .azure-pipelines/cognitiveservices-pipeline.yml
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/sigook-functions-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/PAYSTUB_GENERATION.md
  .docs/PIPELINES.md
  .docs/README.md
  CLAUDE.md
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Mayor design corrections and behavior fixes
  SigookApp/lib/core/widgets/profile_section_card.dart
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/presentation/pages/logout_webview_page.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/jobs/data/models/job_model.dart
  SigookApp/lib/features/jobs/data/models/job_model.freezed.dart
  SigookApp/lib/features/jobs/data/models/job_model.g.dart
  SigookApp/lib/features/jobs/domain/entities/job.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/repositories/profile_repository.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Finished with feedbacks and bugs
  SigookApp/lib/features/profile/presentation/providers/cached_worker_profile_provider.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Apply Button Logic fixed
  SigookApp/lib/features/jobs/presentation/widgets/job_details_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Ajuste en open positions
  Covenant.Web/src/components/open-positions/SearchHero.vue
Due: none

Ajustes de diseño menores
  Covenant.Web/src/assets/images/logo-canada-hd.png
  Covenant.Web/src/assets/images/logo-canada.png
  Covenant.Web/src/assets/json/TalentsData.json
  Covenant.Web/src/components/about/AboutWhyWorkSection.vue
  Covenant.Web/src/components/employers/EmployersMainSection.vue
  Covenant.Web/src/components/home/CertifiedAgencySection.vue
  Covenant.Web/src/components/layout/MainFooter.vue
  Covenant.Web/src/components/open-positions/SearchHero.vue
  Covenant.Web/src/components/talents/TalentsMainSection.vue
  Covenant.Web/src/components/talents/WhyWork.vue
Due: none

Ajuste margen superior en open positions
  Covenant.Web/src/components/open-positions/SearchHero.vue
Due: none

Privacy Policy updated, Terms & and conditions updated
  SigookApp/lib/features/legal/presentation/pages/privacy_policy_page.dart
  SigookApp/lib/features/legal/presentation/pages/terms_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

feat(docs): add CLAUDE.md files for various components and services in the Covenant platform
  CLAUDE.md
  Covenant.Api/CLAUDE.md
  Covenant.IdentityServer/CLAUDE.md
  Covenant.Web/CLAUDE.md
  Covenant.Web/src/components/open-positions/JobsListSection.vue
  Sigook.CognitiveServices/CLAUDE.md
  Sigook.Functions/CLAUDE.md
  Sigook.Web/CLAUDE.md
  SigookApp/CLAUDE.md
Due: none

Add comprehensive documentation for Azure DevOps CI/CD pipelines in PIPELINES.md
  .docs/README.md
  .docs/business/BILLING_RULES.md
  .docs/business/BUSINESS_MODEL.md
  .docs/business/PAYROLL_RULES.md
  .docs/business/PAYSTUB_GENERATION.md
  .docs/business/REQUEST_STATE_MANAGEMENT.md
  .docs/business/TIMESHEET_RULES.md
  .docs/business/WORKFLOWS.md
  .docs/technical/API_ENDPOINTS.md
  .docs/technical/ARCHITECTURE.md
  .docs/technical/DEVELOPMENT_COMMANDS.md
  .docs/technical/ENTITIES_RELATIONSHIPS.md
  .docs/technical/PIPELINES.md
  CLAUDE.md
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

feat: Add Number ID to Pay Stubs and Payment Reports
  .docs/business/PAYSTUB_GENERATION.md
  Covenant.Api/Covenant.Api/AccountingModule/PayStubDocument/Controllers/PayStubPdf.cs
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Shared/PayrollDocument/Models/PayrollMappers.cs
  Covenant.Api/Covenant.Api/Views/Billing/Payroll/Payroll.cshtml
  Covenant.Api/Covenant.Api/Views/Billing/Payroll/PayrollViewModel.cs
  Covenant.Api/Covenant.Common/Entities/Accounting/PayStub/PayStub.cs
  Covenant.Api/Covenant.Common/Entities/Accounting/PayStub/PayStubItem.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/CreatePayStubModel.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/GetPayStubsFilter.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/PayStubDetailModel.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/PayStubYtdModel.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/RegularWageWorker.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/WeeklyPayStubModel.cs
  Covenant.Api/Covenant.Common/Repositories/Accounting/IPayStubRepository.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/DateExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Documents/Services/GeneratePayStubsReport.cs
  Covenant.Api/Covenant.Documents/Services/GeneratePaymentReport.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/PayStubRepository.cs
  Covenant.Api/Covenant.PayStubs/Services/DailyWageMapper.cs
  Covenant.Api/Covenant.PayStubs/Utils/PayStubMappers.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestRegularWageWorker.cs
  Sigook.Web/src/components/landing/Header.vue
  Sigook.Web/src/pages/agency/AgencyCreateRequest.vue
  Sigook.Web/src/pages/agency/accounting/CreatePayStub.vue
  Sigook.Web/src/pages/agency/accounting/PayStubs.vue
  Sigook.Web/src/pages/company/CreateRequest.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: Implement CRA Payroll report generation and update related services
  Covenant.Api/Covenant.Api/Common/FileSaver.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/ReportsController.cs
  Covenant.Api/Covenant.Api/Covenant.Api.csproj
  Covenant.Api/Covenant.Common/Models/SigookFileOptions.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IPayStubService.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Integration.Tests/Shared/WorkersReportDocument/WorkersReportDocumentControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/TestAuthenticationHandler.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/TestAuthenticationMiddleware.cs
  Covenant.Api/Covenant.PayStubs/Utils/PayStubMappers.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/TestRegularWageWorker.cs
  Covenant.Api/Covenant.Tests/Request/AgencyBookWorkerServiceTest.cs
  Covenant.Api/Covenant.Tests/TestsIntegration/TestAuthenticationHandler.cs
  Sigook.Web/src/components/agency_accounting/CRAPayroll.vue
  Sigook.Web/src/mixins/toastMixin.js
  Sigook.Web/src/pages/agency/accounting/Reports.vue
  Sigook.Web/src/store/modules/agency.js
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Add main JavaScript and CSS styles for Rural ConnectMe project
  Sigook.RConnectMe/index.html
  Sigook.RConnectMe/main.js
  Sigook.RConnectMe/styles.css
Due: none

Remove main JavaScript and CSS files for Rural ConnectMe project
  Sigook.RConnectMe/index.html
  Sigook.RConnectMe/main.js
  Sigook.RConnectMe/styles.css
Due: none

Payroll enhancements
  .claude/skills/ef-migration/SKILL.md
  .gitignore
  Covenant.Api/Covenant.Api/AgencyModule/AgencyWorkerProfile/Controllers/AgencyWorkerProfileController.cs
  Covenant.Api/Covenant.Api/Views/Billing/Payroll/Payroll.cshtml
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfile.cs
  Covenant.Api/Covenant.Common/Enums/PayStubItemType.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/PayStubDetailItemModel.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/PayStubT4Model.cs
  Covenant.Api/Covenant.Common/Models/Accounting/PayStub/WeeklyPayStubItemModel.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyWorkerRequestModel.cs
  Covenant.Api/Covenant.Common/Models/Request/GetWorkersRequestFilter.cs
  Covenant.Api/Covenant.Common/Models/Worker/GetWorkerProfileFilter.cs
  Covenant.Api/Covenant.Common/Models/Worker/WorkerProfileDetailModel.cs
  Covenant.Api/Covenant.Common/Models/Worker/WorkerProfileListModel.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.Documents/Services/GeneratePaymentReport.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260313182804_AddExternalIdToWorkerProfile.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260313182804_AddExternalIdToWorkerProfile.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260313194900_ReorderPayStubItemType.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260313194900_ReorderPayStubItemType.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/PayStubRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Worker/WorkerRepository.cs
  Sigook.Web/src/components/agency/AgencyWorkers.vue
  Sigook.Web/src/components/agency_request/MassivePunchCard.vue
  Sigook.Web/src/components/worker/WorkerSettings.vue
  Sigook.Web/src/pages/agency/Candidates.vue
  Sigook.Web/src/pages/agency/Workers.vue
  Sigook.Web/src/store/modules/agency.js
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

User's profile info changes
  SigookApp/UserInfoPageContext.txt
  SigookApp/assets/images/welcome-screen/family.png
  SigookApp/assets/images/welcome-screen/worker.png
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/core/widgets/profile_info_row.dart
  SigookApp/lib/features/history/presentation/widgets/history_card.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/job_details_tab.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixes with Welcome Screen
  SigookApp/assets/images/welcome-screen/circles.svg
  SigookApp/assets/images/welcome-screen/dots-rectangle.svg
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/widgets/profile_header.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Design and behavior fixes
  SigookApp/lib/core/theme/app_theme.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/registration/data/models/address_info_model.dart
  SigookApp/lib/features/registration/data/models/address_info_model.freezed.dart
  SigookApp/lib/features/registration/data/models/address_info_model.g.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

PayStub improvements
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Welcome Screen and Splash Screen modified to follow new design
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Steppers modified
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/registration/presentation/widgets/registration_step_indicator.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Steppers modified
  SigookApp/lib/core/widgets/navbar_logo.dart
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/history/presentation/pages/history_page.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/settings/presentation/pages/language_settings_page.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixes and changes
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml
