Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Test pipeline
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Test pipeline: IPA Fix
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Test pipeline: IPA Fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/android/app/src/main/kotlin/com/example/sigook_app_flutter/MainActivity.kt
  cascade/02c39203-8fbc-44ec-bab2-b53fcd024556.pb
  cascade/12b4d47d-9a74-4003-8857-2a4a20f25d9e.pb
  cascade/25751c17-91f3-4198-a9d7-eb988da906f8.pb
  cascade/26674967-f238-425a-a95a-dcffb5f38e12.pb
  cascade/3b804f2b-0ae4-429a-9710-3d4cd50dac91.pb
  cascade/51a6ac72-d441-4038-9523-851ccacc03c6.pb
  cascade/58d2d960-3109-4cdf-b43a-7f253f0e9623.pb
  cascade/5f2bd68b-313c-4afb-93cf-c2476b978aec.pb
  cascade/7cb9ea48-295e-437a-b2ba-44d3260a8045.pb
  cascade/84071021-0105-465d-ab4d-449ba2f8b460.pb
  cascade/97a65f1b-b0ab-4de6-b4f9-97f8003f30db.pb
  cascade/9fc4fa19-ea2f-4db4-aa93-a3968961dccc.pb
  cascade/c3f9e5d5-f805-452c-abef-884a76f21b99.pb
  cascade/ca3951eb-be5e-4b01-8d56-f881f91e36e9.pb
  cascade/dec73e7f-dab1-4613-b8dd-8b328edb059e.pb
  cascade/ed0a3fc9-7eac-4470-9300-67015ad70dc9.pb
  cascade/f04ba76f-804a-42a4-bf6f-89f7c59f8847.pb
Due: .azure-pipelines/sigookapp-pipeline.yml

Test pipeline: .P12 Fix
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: add local state management and blur event handling for CPP/EI tax rate inputs
  Sigook.Web/src/components/worker/WorkerSettings.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

``` feat: replace blur event with explicit Save button for CPP/EI tax rate updates
  Sigook.Web/src/components/worker/WorkerSettings.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

``` refactor: simplify tax rate update logic and remove explicit Save button
  Covenant.Api/Covenant.Core.BL/Services/AgencyService.cs
  Sigook.Web/src/components/worker/WorkerSettings.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Test pipeline: keystore fix
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Test pipeline: .P12 Fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Test iOS build: SigookApp trigger
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Test iOS build: Archive IPA process
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/ExportOptions-staging.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

Test iOS build: Archive IPA process
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

TEST Pipeline: fastlane refactor and optimization
  SigookApp/Gemfile
  SigookApp/PIPELINE_SETUP_GUIDE.md
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

TEST Pipeline: fastlane refactor and optimization
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

TEST Pipeline: fastlane refactor and optimization
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml
