Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

UserProfile split into sections
  SigookApp/lib/core/utils/phone_formatter.dart
  SigookApp/lib/core/widgets/feedback/profile_snack_bar.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/personal_details_tab.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/basic_info_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/certificates_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/contact_info_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/documents_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/licenses_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/resume_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/sin_section.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/preferences_tab.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/emergency_section.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/preferences_section.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/viewmodels/profile_viewmodel.dart
  SigookApp/lib/features/profile/presentation/viewmodels/profile_viewmodel.freezed.dart
  SigookApp/lib/features/profile/presentation/viewmodels/profile_viewmodel.g.dart
  SigookApp/lib/features/profile/presentation/widgets/has_vehicle_row.dart
  SigookApp/lib/features/profile/presentation/widgets/new_document_slot.dart
  SigookApp/lib/features/profile/presentation/widgets/pending_file_row.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing Friday Release
  Covenant.Api/Covenant.Common/Utils/Extensions/HttpClientExtensions.cs
  Sigook.Web/.gitignore
  Sigook.Web/src/api/companyApi.ts
  Sigook.Web/src/assets/scss/tables.scss
  Sigook.Web/src/components/NavBarLogged.vue
  Sigook.Web/src/components/agency/AgencyWorkers.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/components/company/ProfileLocation.vue
  Sigook.Web/src/components/company_request/CompanyRequestDetail.vue
  Sigook.Web/src/components/company_request/CompanyRequestPunchCard.vue
  Sigook.Web/src/components/company_request/CompanyRequestWorkers.vue
  Sigook.Web/src/pages/agency/WeeklyBoard.vue
  Sigook.Web/src/pages/company/CompanyProfile.vue
  Sigook.Web/src/pages/company/CreateRequest.vue
  Sigook.Web/src/pages/company/Request.vue
  Sigook.Web/src/pages/company/Requests.vue
  Sigook.Web/src/pages/worker/Request.vue
  Sigook.Web/src/pages/worker/WorkerProfile.vue
  Sigook.Web/src/types/agency.ts
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing bugs
  CLAUDE.md
  Sigook.Web/src/api/agencyCandidateApi.ts
  Sigook.Web/src/api/agencyCompanyApi.ts
  Sigook.Web/src/api/agencyInvoiceApi.ts
  Sigook.Web/src/api/agencyPayStubApi.ts
  Sigook.Web/src/api/agencyReportApi.ts
  Sigook.Web/src/api/agencyRequestApi.ts
  Sigook.Web/src/api/agencyTimeSheetApi.ts
  Sigook.Web/src/api/companyApi.ts
  Sigook.Web/src/api/requestApi.ts
  Sigook.Web/src/api/workerApi.ts
  Sigook.Web/src/components/agency/AgencyWorkersList.vue
  Sigook.Web/src/store/modules/company.ts
  Sigook.Web/src/types/accounting.ts
  Sigook.Web/src/types/agency.ts
  Sigook.Web/src/types/candidate.ts
  Sigook.Web/src/types/common.ts
  Sigook.Web/src/types/company.ts
  Sigook.Web/src/types/index.ts
  Sigook.Web/src/types/request.ts
  Sigook.Web/src/types/worker.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing errors
  Sigook.Web/src/api/agencyReportApi.ts
  Sigook.Web/src/types/agency.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Fix Upload files
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/FormCollectionExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Bug fixes
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Sigook.Web/src/components/agency/AgencyPunchCard.vue
  Sigook.Web/src/components/agency_company/CompanySettings.vue
  Sigook.Web/src/components/company/CompanyUserUpdate.vue
  Sigook.Web/src/pages/company/CompanyUserProfile.vue
  Sigook.Web/src/pages/worker/Register.vue
  Sigook.Web/src/security/apiService.ts
  Sigook.Web/src/utils/fileUpload.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Build fixes
  Covenant.Api/Covenant.Tests/Worker/UpdateWorkerPunchCardIdServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Code, and documentation enhacements
  .docs/README.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  Covenant.Api/Covenant.Api/Validators/Worker/WorkerProfileCreateModelValidator.cs
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfile.cs
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfileAvailability.cs
  Covenant.Api/Covenant.Common/Interfaces/Adapters/IWorkerAdapter.cs
  Covenant.Api/Covenant.Core.BL/Adapters/WorkerAdapter.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Covenant.Api/Covenant.Tests/Worker/UpdateWorkerPunchCardIdServiceTest.cs
  Sigook.Web/CLAUDE.md
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Delete Button added
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/domain/repositories/auth_repository.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/preferences_tab.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Work Experience Added
  SigookApp/CLAUDE.md
  SigookApp/lib/features/profile/job_experience/data/datasources/job_experience_remote_datasource.dart
  SigookApp/lib/features/profile/job_experience/data/repositories/job_experience_repository_impl.dart
  SigookApp/lib/features/profile/job_experience/domain/entities/job_experience.dart
  SigookApp/lib/features/profile/job_experience/domain/repositories/job_experience_repository.dart
  SigookApp/lib/features/profile/job_experience/domain/usecases/add_job_experience.dart
  SigookApp/lib/features/profile/job_experience/domain/usecases/delete_job_experience.dart
  SigookApp/lib/features/profile/job_experience/domain/usecases/update_job_experience.dart
  SigookApp/lib/features/profile/job_experience/presentation/providers/job_experience_providers.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.freezed.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.g.dart
  SigookApp/lib/features/profile/job_experience/presentation/widgets/job_experience_card.dart
  SigookApp/lib/features/profile/presentation/pages/job_experience_tab.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/job_experience_section.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

User Profile almost finished, comments endpoint pending to be added
  SigookApp/lib/features/comments/domain/entities/worker_comment.dart
  SigookApp/lib/features/comments/presentation/pages/comments_section.dart
  SigookApp/lib/features/comments/presentation/widgets/comment_card.dart
  SigookApp/lib/features/profile/account_settings/data/datasources/account_settings_remote_datasource.dart
  SigookApp/lib/features/profile/account_settings/data/repositories/account_settings_repository_impl.dart
  SigookApp/lib/features/profile/account_settings/domain/repositories/account_settings_repository.dart
  SigookApp/lib/features/profile/account_settings/domain/usecases/change_email.dart
  SigookApp/lib/features/profile/account_settings/presentation/providers/account_settings_providers.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.freezed.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.g.dart
  SigookApp/lib/features/profile/preferences/presentation/widgets/profile_action_buttons.dart
  SigookApp/lib/features/profile/presentation/pages/account_settings_tab.dart
  SigookApp/lib/features/profile/presentation/pages/comments_tab.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/preferences_tab.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/account_settings_section.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Account settings added
  SigookApp/lib/core/theme/app_theme.dart
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/auth/presentation/pages/logout_webview_page.dart
  SigookApp/lib/features/history/presentation/pages/history_page.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/legal/presentation/pages/legal_page.dart
  SigookApp/lib/features/profile/presentation/pages/profile_header.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/settings/presentation/pages/language_settings_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

User Account finished
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/comments/data/datasources/comments_remote_datasource.dart
  SigookApp/lib/features/comments/data/models/worker_comment_model.dart
  SigookApp/lib/features/comments/data/models/worker_comment_model.freezed.dart
  SigookApp/lib/features/comments/data/models/worker_comment_model.g.dart
  SigookApp/lib/features/comments/data/repositories/comments_repository_impl.dart
  SigookApp/lib/features/comments/domain/entities/worker_comment.dart
  SigookApp/lib/features/comments/domain/repositories/comments_repository.dart
  SigookApp/lib/features/comments/domain/usecases/get_worker_comments.dart
  SigookApp/lib/features/comments/presentation/pages/comments_section.dart
  SigookApp/lib/features/comments/presentation/providers/comments_providers.dart
  SigookApp/lib/features/comments/presentation/widgets/comment_card.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.freezed.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.g.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.freezed.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.g.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/account_settings_section.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

User Account finished
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/core/theme/app_theme.dart
  SigookApp/lib/features/about/presentation/widgets/about_constants.dart
  SigookApp/lib/features/catalog/presentation/widgets/catalog_dropdown_example.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/job_experience_section.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/preferences_section.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Application insights system created
  SigookApp/.env.example
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/core/network/api_client.dart
  SigookApp/lib/core/network/crash_reporting_interceptor.dart
  SigookApp/lib/core/providers/analytics_providers.dart
  SigookApp/lib/core/providers/analytics_providers.g.dart
  SigookApp/lib/core/providers/core_providers.dart
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/core/services/azure_analytics_service.dart
  SigookApp/lib/core/services/azure_app_insights_client.dart
  SigookApp/lib/core/services/azure_crash_reporting_service.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/job_details_tab.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.dart
  SigookApp/lib/features/profile/certificates/presentation/viewmodels/certificates_viewmodel.dart
  SigookApp/lib/features/profile/contact_info/presentation/viewmodels/contact_info_viewmodel.dart
  SigookApp/lib/features/profile/documents/presentation/viewmodels/documents_viewmodel.dart
  SigookApp/lib/features/profile/emergency/presentation/viewmodels/emergency_viewmodel.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.dart
  SigookApp/lib/features/profile/licenses/presentation/viewmodels/licenses_viewmodel.dart
  SigookApp/lib/features/profile/personal_details/presentation/viewmodels/personal_details_viewmodel.dart
  SigookApp/lib/features/profile/preferences/presentation/viewmodels/preferences_viewmodel.dart
  SigookApp/lib/features/profile/resume/presentation/viewmodels/resume_viewmodel.dart
  SigookApp/lib/features/profile/sin/presentation/viewmodels/sin_viewmodel.dart
  SigookApp/lib/features/registration/presentation/viewmodels/registration_viewmodel.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Unit tests added
  SigookApp/pubspec.yaml
  SigookApp/test/core/error/exceptions_test.dart
  SigookApp/test/core/error/failures_test.dart
  SigookApp/test/core/network/crash_reporting_interceptor_test.dart
  SigookApp/test/core/services/azure_app_insights_client_test.dart
  SigookApp/test/features/auth/data/repositories/auth_repository_impl_test.dart
  SigookApp/test/features/auth/domain/usecases/logout_test.dart
  SigookApp/test/features/auth/domain/usecases/refresh_token_test.dart
  SigookApp/test/features/auth/domain/usecases/sign_in_test.dart
  SigookApp/test/features/auth/domain/usecases/validate_token_test.dart
  SigookApp/test/features/auth/presentation/viewmodels/auth_viewmodel_test.dart
  SigookApp/test/features/jobs/data/repositories/jobs_repository_impl_test.dart
  SigookApp/test/features/jobs/domain/usecases/apply_to_job_test.dart
  SigookApp/test/features/jobs/domain/usecases/get_clock_type_test.dart
  SigookApp/test/features/jobs/domain/usecases/get_job_details_test.dart
  SigookApp/test/features/jobs/domain/usecases/get_jobs_test.dart
  SigookApp/test/features/jobs/domain/usecases/submit_timesheet_test.dart
  SigookApp/test/features/jobs/presentation/viewmodels/jobs_viewmodel_test.dart
  SigookApp/test/features/profile/domain/usecases/get_worker_profile_test.dart
  SigookApp/test/features/profile/personal_details/presentation/viewmodels/personal_details_viewmodel_test.dart
  SigookApp/test/features/registration/presentation/viewmodels/registration_viewmodel_test.dart
  SigookApp/test/helpers/mocks.dart
  SigookApp/test/helpers/riverpod_test_helpers.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Application Insights connected, ready to test
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/ci_scripts/ci_post_clone.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Android gradle updated
  SigookApp/android/gradle/gradle-daemon-jvm.properties
  SigookApp/android/gradle/wrapper/gradle-wrapper.properties
  SigookApp/android/settings.gradle.kts
Due: .azure-pipelines/sigookapp-pipeline.yml

Android gradle updated
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Instrumentación completada
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/registration/presentation/viewmodels/registration_viewmodel.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Test connection button added for Staging
  SigookApp/lib/core/services/azure_app_insights_client.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/profile/account_settings/presentation/viewmodels/account_settings_viewmodel.g.dart
  SigookApp/lib/features/profile/certificates/presentation/viewmodels/certificates_viewmodel.g.dart
  SigookApp/lib/features/profile/contact_info/presentation/viewmodels/contact_info_viewmodel.g.dart
  SigookApp/lib/features/profile/documents/presentation/viewmodels/documents_viewmodel.g.dart
  SigookApp/lib/features/profile/emergency/presentation/viewmodels/emergency_viewmodel.g.dart
  SigookApp/lib/features/profile/job_experience/presentation/viewmodels/job_experience_viewmodel.g.dart
  SigookApp/lib/features/profile/licenses/presentation/viewmodels/licenses_viewmodel.g.dart
  SigookApp/lib/features/profile/personal_details/presentation/viewmodels/personal_details_viewmodel.g.dart
  SigookApp/lib/features/profile/preferences/presentation/viewmodels/preferences_viewmodel.g.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/preferences_tab.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/diagnostics_section.dart
  SigookApp/lib/features/profile/resume/presentation/viewmodels/resume_viewmodel.g.dart
  SigookApp/lib/features/profile/sin/presentation/viewmodels/sin_viewmodel.g.dart
  SigookApp/lib/features/registration/presentation/viewmodels/registration_viewmodel.g.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Test connection button added for Staging
  SigookApp/ios/ci_scripts/ci_post_clone.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

pipelines fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/lib/core/constants/error_messages.dart
  SigookApp/test/features/registration/presentation/viewmodels/registration_viewmodel_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

pipelines fix
  SigookApp/test/widget_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

fixes
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/test/widget_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Modernize App.vue to Vue 3 <script setup>
  Sigook.Web/src/App.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Gradle tools updated, Login System corrected
  SigookApp/lib/core/error/failures.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Profile picture update feature added
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/profile/presentation/pages/profile_header.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/profile_image/data/datasources/profile_image_remote_datasource.dart
  SigookApp/lib/features/profile/profile_image/data/repositories/profile_image_repository_impl.dart
  SigookApp/lib/features/profile/profile_image/domain/repositories/profile_image_repository.dart
  SigookApp/lib/features/profile/profile_image/domain/usecases/upload_profile_image.dart
  SigookApp/lib/features/profile/profile_image/presentation/providers/profile_image_providers.dart
  SigookApp/lib/features/profile/profile_image/presentation/viewmodels/profile_image_viewmodel.dart
  SigookApp/lib/features/profile/profile_image/presentation/viewmodels/profile_image_viewmodel.freezed.dart
  SigookApp/lib/features/profile/profile_image/presentation/viewmodels/profile_image_viewmodel.g.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Style corrections
  SigookApp/lib/features/profile/certificates/data/datasources/certificates_remote_datasource.dart
  SigookApp/lib/features/profile/certificates/data/repositories/certificates_repository_impl.dart
  SigookApp/lib/features/profile/licenses/data/datasources/licenses_remote_datasource.dart
  SigookApp/lib/features/profile/licenses/data/repositories/licenses_repository_impl.dart
  SigookApp/lib/features/profile/preferences/presentation/widgets/chip_selector.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/contact_info_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/sin_section.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/preferences_tab.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/preferences_section.dart
  SigookApp/lib/features/profile/sin/data/repositories/sin_repository_impl.dart
  SigookApp/lib/features/registration/presentation/widgets/language_autocomplete_field.dart
  SigookApp/lib/features/registration/presentation/widgets/skill_autocomplete_field.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Certificates fix
  SigookApp/lib/features/profile/certificates/data/datasources/certificates_remote_datasource.dart
  SigookApp/lib/features/profile/certificates/data/repositories/certificates_repository_impl.dart
  SigookApp/lib/features/profile/certificates/domain/repositories/certificates_repository.dart
  SigookApp/lib/features/profile/certificates/domain/usecases/delete_certificate.dart
  SigookApp/lib/features/profile/certificates/presentation/providers/certificates_providers.dart
  SigookApp/lib/features/profile/certificates/presentation/viewmodels/certificates_viewmodel.dart
  SigookApp/lib/features/profile/certificates/presentation/viewmodels/certificates_viewmodel.freezed.dart
  SigookApp/lib/features/profile/certificates/presentation/widgets/certificate_card.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/emergency/data/repositories/emergency_repository_impl.dart
  SigookApp/lib/features/profile/licenses/data/datasources/licenses_remote_datasource.dart
  SigookApp/lib/features/profile/licenses/data/repositories/licenses_repository_impl.dart
  SigookApp/lib/features/profile/licenses/domain/repositories/licenses_repository.dart
  SigookApp/lib/features/profile/licenses/domain/usecases/delete_license.dart
  SigookApp/lib/features/profile/licenses/presentation/providers/licenses_providers.dart
  SigookApp/lib/features/profile/licenses/presentation/viewmodels/licenses_viewmodel.dart
  SigookApp/lib/features/profile/licenses/presentation/viewmodels/licenses_viewmodel.freezed.dart
  SigookApp/lib/features/profile/licenses/presentation/widgets/license_card.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/certificates_section.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/licenses_section.dart
  SigookApp/lib/features/profile/presentation/pages/preferences/sections/emergency_section.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
