Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    displayName: Validate SigookApp
    jobs:
    - job: BasicValidation
      displayName: Basic Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
      - task: PowerShell@2
  ...

Timesheet implementation
  SigookApp/android/.kotlin/sessions/kotlin-compiler-8054461283902372567.salive
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.g.dart
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
  SigookApp/lib/features/jobs/data/models/paginated_timesheet_model.dart
  SigookApp/lib/features/jobs/data/models/timesheet_entry_model.dart
  SigookApp/lib/features/jobs/data/repositories/timesheet_repository_impl.dart
  SigookApp/lib/features/jobs/domain/entities/paginated_timesheet.dart
  SigookApp/lib/features/jobs/domain/entities/timesheet_entry.dart
  SigookApp/lib/features/jobs/domain/repositories/timesheet_repository.dart
  SigookApp/lib/features/jobs/domain/usecases/get_timesheet_entries.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/providers/timesheet_providers.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.freezed.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.g.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Timesheet done
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
  SigookApp/lib/features/jobs/data/models/timesheet_entry_model.dart
  SigookApp/lib/features/jobs/data/repositories/timesheet_repository_impl.dart
  SigookApp/lib/features/jobs/domain/entities/timesheet_entry.dart
  SigookApp/lib/features/jobs/domain/usecases/get_timesheet_entries.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.dart
  SigookApp/lib/features/jobs/presentation/viewmodels/timesheet_viewmodel.g.dart
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
  SigookApp/lib/main_common.dart
  SigookApp/lib/main_staging.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Authentication Bug solved
  SigookApp/lib/features/auth/presentation/pages/sign_in_page.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Authentication Bug solved
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

App is in the expected phase
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

final touches to timesheet
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

final touches to timesheet
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

final touches to timesheet
  SigookApp/.windsurf/workflows/welcome.md
  SigookApp/lib/features/auth/data/datasources/auth_local_datasource.dart
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: inline Docker tag calculation in Sigook.Web pipeline for improved debugging
  .azure-pipelines/sigook-web-pipeline.yml
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: enhance Docker build environment detection and add comprehensive logging to Sigook.Web pipeline
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/Dockerfile
  covenantWeb/public/favicon.ico
Due: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: fix Docker build argument passing by using environment variable in Sigook.Web pipeline
  .azure-pipelines/sigook-web-pipeline.yml
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: split Docker build and push into separate tasks and add strict ENV validation in Sigook.Web pipeline
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/Dockerfile
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: refactor WebSiteController endpoints and extract Docker tag calculation to reusable template
  .azure-pipelines/sigook-web-pipeline.yml
  Covenant.Api/Covenant.Api/Controllers/WebSite/WebSiteController.cs
  Covenant.Api/Covenant.Core.BL/Consumers/NewCandidateConsumer.cs
  Sigook.Web/src/components/PhoneInput.vue
  Sigook.Web/src/components/landing/ApplyNow.vue
  Sigook.Web/src/pages/landing/JobSeekers.vue
  Sigook.Web/src/store/modules/catalog.js
  covenantWeb/src/components/jobs/ApplyNowDialog.vue
  covenantWeb/src/services/applicationService.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: consolidate candidate creation to single endpoint and add phone input length validation
  Sigook.Web/src/store/modules/catalog.js
  covenantWeb/src/components/jobs/ApplyNowDialog.vue
  covenantWeb/src/services/applicationService.ts
Due: .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

``` feat: simplify contact form model and enhance application UX with validation and review step
  Covenant.Api/Covenant.Api/Views/Website/Contact/Detail.cshtml
  Covenant.Api/Covenant.Common/Models/ContactDto.cs
  Sigook.Web/src/components/landing/ApplyNow.vue
  covenantWeb/src/App.vue
  covenantWeb/src/components/about/ContactSection.vue
  covenantWeb/src/components/home/HomeContact.vue
  covenantWeb/src/components/industries/IndustriesContact.vue
  covenantWeb/src/components/jobs/ApplyNowDialog.vue
  covenantWeb/src/components/layout/ContactForm.vue
  covenantWeb/src/components/partners/PartnerContactSection.vue
  covenantWeb/src/composables/useToast.ts
  covenantWeb/src/services/contactService.ts
  covenantWeb/src/services/types/contact.types.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Android set up completed
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/proguard-rules.pro
  SigookApp/android/key.properties.example
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/ios/ExportOptions-staging.plist
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/main.dart
  SigookApp/lib/main_production.dart
  SigookApp/lib/main_staging.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Android set up completed
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/flutter-setup.yml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Android set up completed
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Quote dart-define values to handle special characters
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Quote dart-define values to handle special characters
  SigookApp/android/gradle.properties
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Create placeholder .env files in CI to satisfy pubspec.yaml assets
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

perf: Add disk cleanup and caching for Android builds
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Move cache after pub get, add debug build config
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/android/app/build.gradle.kts
Due: .azure-pipelines/sigookapp-pipeline.yml

feat: Disable profile page endpoints, add coming soon message, fix pipeline cache paths
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/profile/presentation/providers/cached_worker_profile_provider.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

chore: rotate SendGrid API keys across all environments and update contact form text
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Development.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Production.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Staging.json
  Sigook.Web/src/components/landing/NeedStaff.vue
  Sigook.Web/src/pages/landing/Contact.vue
  covenantWeb/src/components/jobs/ApplyNowDialog.vue
  covenantWeb/src/components/layout/ContactForm.vue
  covenantWeb/src/components/partners/PartnerContactSection.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

chore: rotate SendGrid API keys across all environments
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Development.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Production.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Staging.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

feat: Splash screen edits, add coming soon message, fix pipeline cache paths
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Remove legacy billing invoice creation logic and tests
  Covenant.Api/Covenant.Api.sln
  Covenant.Api/Covenant.Api/AccountingModule/AgencyInvoice/Controllers/AccountingInvoiceV4Controller.cs
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Billing/Covenant.Billing.csproj
  Covenant.Api/Covenant.Billing/Services/AccountingCreateInvoiceAndReportsSubcontractor.cs
  Covenant.Api/Covenant.Billing/Services/ICreateInvoiceUsingTimeSheet.cs
  Covenant.Api/Covenant.Billing/Services/ICreateInvoiceWithoutTimeSheet.cs
  Covenant.Api/Covenant.Billing/Services/Impl/CreateInvoiceUSA.cs
  Covenant.Api/Covenant.Billing/Services/Impl/CreateInvoiceUsingTimeSheet.cs
  Covenant.Api/Covenant.Billing/Services/Impl/CreateInvoiceWithoutTimeSheet.cs
  Covenant.Api/Covenant.Billing/Utils/BillingMappers.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/IEnumerableExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/AgencyService.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/CanadaInvoiceService.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/UsaInvoiceService.cs
  Covenant.Api/Covenant.Documents/Covenant.Documents.csproj
  Covenant.Api/Covenant.Invoices/Covenant.Invoices.csproj
  Covenant.Api/Covenant.Reports/Covenant.Reports.csproj
  Covenant.Api/Covenant.Tests/Billing/CreateInvoiceUSATest.cs
  Covenant.Api/Covenant.Tests/Billing/TestBillingMappers.cs
  Covenant.Api/Covenant.Tests/Billing/TestCreateInvoiceUsingTimeSheet.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Test production deployment from SigookApp branch
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/DEPLOYMENT_APPROVAL_SETUP.md
  SigookApp/PLAYSTORE_COMPLETE_GUIDE.md
  SigookApp/PLAY_STORE_DEPLOYMENT_SETUP.md
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/kotlin/com/sigook/beta/MainActivity.kt
  SigookApp/android/gradle.properties
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: arreglos de diseño
  covenantWeb/src/assets/images/industries-bg-movil.png
  covenantWeb/src/assets/images/industries-cards-icons/ai-it.png
  covenantWeb/src/assets/images/industries-cards-icons/automotive.png
  covenantWeb/src/assets/images/industries-cards-icons/aviation.png
  covenantWeb/src/assets/images/industries-cards-icons/construction.png
  covenantWeb/src/assets/images/industries-cards-icons/engineering.png
  covenantWeb/src/assets/images/industries-cards-icons/financial.png
  covenantWeb/src/assets/images/industries-cards-icons/legal.png
  covenantWeb/src/assets/images/industries-cards-icons/logistics.png
  covenantWeb/src/assets/images/industries-cards-icons/manufacturing.png
  covenantWeb/src/assets/images/industries-cards-icons/retail.png
  covenantWeb/src/assets/images/industries-cards-icons/transportation.png
  covenantWeb/src/components/about/AboutHeroStatsSection.vue
  covenantWeb/src/components/about/AboutStorySection.vue
  covenantWeb/src/components/about/AboutWhyWorkSection.vue
  covenantWeb/src/components/about/ContactSection.vue
  covenantWeb/src/components/employers/EmployersMainSection.vue
  covenantWeb/src/components/employers/RolesWeRecruit.vue
  covenantWeb/src/components/home/CertifiedAgencySection.vue
  covenantWeb/src/components/home/DownloadAppSection.vue
  covenantWeb/src/components/home/EmployersTalentsSection.vue
  covenantWeb/src/components/home/HeroSection.vue
  covenantWeb/src/components/home/HomeContact.vue
  covenantWeb/src/components/industries/IndustriesContact.vue
  covenantWeb/src/components/industries/IndustriesGrid.vue
  covenantWeb/src/components/industries/IndustriesHero.vue
  covenantWeb/src/components/layout/MainFooter.vue
  covenantWeb/src/components/layout/MainNavbar.vue
  covenantWeb/src/components/licensed/LicensedCertifiedSection.vue
  covenantWeb/src/components/partners/PartnerContactSection.vue
  covenantWeb/src/components/partners/PartnerHero.vue
  covenantWeb/src/components/partners/PartnerTypesSection.vue
  covenantWeb/src/components/talents/RolesTalents.vue
  covenantWeb/src/components/talents/TalentsMainSection.vue
  covenantWeb/src/components/talents/WhyWork.vue
  covenantWeb/src/router/index.ts
Due: .azure-pipelines/covenantweb-pipeline.yml

Configure iOS pipeline
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/IOS_TESTFLIGHT_COMPLETE_GUIDE.md
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/ios/ExportOptions-staging.plist
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
Due: .azure-pipelines/sigookapp-pipeline.yml

Configure iOS pipeline
  SigookApp/lib/core/services/analytics_service.dart
  SigookApp/lib/core/services/crash_reporting_service.dart
  SigookApp/lib/core/widgets/network_status_banner.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
  SigookApp/lib/features/profile/presentation/providers/cached_worker_profile_provider.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Configure iOS pipeline
  SigookApp/lib/features/registration/data/models/address_info_model.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Test pipeline
  SigookApp/AZURE_DEVOPS_COMPLETE_SETUP.md
Due: none

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
