Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Landing: migrate form controls + buttons to Buefy, layer Bootstrap
  Sigook.Web/src/assets/css/bootstrap-layered.css
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyForm.vue
  Sigook.Web/src/components/landing/shared/forms/Checkbox.vue
  Sigook.Web/src/components/landing/shared/forms/FileUpload.vue
  Sigook.Web/src/components/landing/shared/forms/GetInTouchForm.vue
  Sigook.Web/src/components/landing/shared/forms/Input.vue
  Sigook.Web/src/components/landing/shared/forms/Select.vue
  Sigook.Web/src/components/landing/shared/forms/Switch.vue
  Sigook.Web/src/components/landing/shared/forms/TagInput.vue
  Sigook.Web/src/components/landing/shared/ui/ArrowPillCta.vue
  Sigook.Web/src/main.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

dompurify added
  Sigook.Web/pnpm-lock.yaml
Due: .azure-pipelines/sigook-web-pipeline.yml

USA Satellite map removed
  Sigook.Web/src/components/landing/Home/WhyChooseUsSection.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Bootstrap layered deleted and imports in main reverted.
  Sigook.Web/src/assets/css/bootstrap-layered.css
Due: .azure-pipelines/sigook-web-pipeline.yml

imports reverted in main.ts
  Sigook.Web/src/main.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Index description adapted to show US instead of CA
  Sigook.Web/index.html
  Sigook.Web/src/router/index.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

tokens.css removed
  Sigook.Web/src/assets/css/tokens.css
  Sigook.Web/src/assets/scss/tokens.scss
  Sigook.Web/src/components/landing/About/OurHistorySection.vue
  Sigook.Web/src/components/landing/Home/TestimonialsSection.vue
  Sigook.Web/src/components/landing/Industries/IndustryCard.vue
  Sigook.Web/src/components/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/landing/OpenPositions/OpenPositionsCtaSection.vue
  Sigook.Web/src/components/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/components/landing/Partner/PartnerHeroSection.vue
  Sigook.Web/src/components/landing/Partner/PartnerProcessSection.vue
  Sigook.Web/src/components/landing/shared/forms/Autocomplete.vue
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyForm.vue
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyModal.vue
  Sigook.Web/src/components/landing/shared/forms/Checkbox.vue
  Sigook.Web/src/components/landing/shared/forms/DatePicker.vue
  Sigook.Web/src/components/landing/shared/forms/FileUpload.vue
  Sigook.Web/src/components/landing/shared/forms/GetInTouchForm.vue
  Sigook.Web/src/components/landing/shared/forms/ImageUpload.vue
  Sigook.Web/src/components/landing/shared/forms/Input.vue
  Sigook.Web/src/components/landing/shared/forms/Select.vue
  Sigook.Web/src/components/landing/shared/forms/TagInput.vue
  Sigook.Web/src/components/landing/shared/forms/WorkerRegisterStepNav.vue
  Sigook.Web/src/components/landing/shared/layout/AppVersionToast.vue
  Sigook.Web/src/components/landing/shared/layout/GlobalBackground.vue
  Sigook.Web/src/components/landing/shared/layout/Header.vue
  Sigook.Web/src/components/landing/shared/sections/IndustriesCarouselPanel.vue
  Sigook.Web/src/components/landing/shared/ui/LabeledChipList.vue
  Sigook.Web/src/components/landing/shared/ui/SliderDots.vue
  Sigook.Web/src/pages/landing/Legal/Disclaimer.vue
  Sigook.Web/src/pages/landing/OpenPositions/OpenPositions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

face fonts moved
  Sigook.Web/src/assets/fonts.css
  Sigook.Web/src/assets/fonts/open-sans/stylesheet.css
Due: .azure-pipelines/sigook-web-pipeline.yml

fACE FONTS moved
  Sigook.Web/src/App.vue
  Sigook.Web/src/assets/scss/fonts.scss
Due: .azure-pipelines/sigook-web-pipeline.yml

dompurify removed, data landing optimized
  Sigook.Web/package.json
  Sigook.Web/pnpm-lock.yaml
  Sigook.Web/src/components/landing/About/AboutNumbersSection.vue
  Sigook.Web/src/components/landing/Employers/EmployersSolutionsSection.vue
  Sigook.Web/src/components/landing/Employers/EmployersWhyChooseSection.vue
  Sigook.Web/src/components/landing/Home/TestimonialsSection.vue
  Sigook.Web/src/components/landing/OpenPositions/JobDetail.vue
  Sigook.Web/src/components/landing/OpenPositions/OpenPositionsHeroSection.vue
  Sigook.Web/src/components/landing/Partner/PartnerBenefitsSection.vue
  Sigook.Web/src/components/landing/Partner/PartnerProcessSection.vue
  Sigook.Web/src/components/landing/Partner/PartnerTypesSection.vue
  Sigook.Web/src/components/landing/SpecialProjects/SpecialProjectsFocusSection.vue
  Sigook.Web/src/components/landing/Talents/TalentsSolutionsSection.vue
  Sigook.Web/src/components/landing/Talents/TalentsWhyWorkSection.vue
  Sigook.Web/src/components/landing/shared/layout/Footer.vue
  Sigook.Web/src/components/landing/shared/layout/Header.vue
  Sigook.Web/src/components/landing/shared/sections/IndustriesCarousel.vue
  Sigook.Web/src/data/landing/aboutStats.json
  Sigook.Web/src/data/landing/employersReasons.json
  Sigook.Web/src/data/landing/employersSolutions.json
  Sigook.Web/src/data/landing/focusAreas.json
  Sigook.Web/src/data/landing/footerLinks.json
  Sigook.Web/src/data/landing/industriesCarousel.json
  Sigook.Web/src/data/landing/navLinks.json
  Sigook.Web/src/data/landing/partnerBenefits.json
  Sigook.Web/src/data/landing/partnerProcess.json
  Sigook.Web/src/data/landing/partnerTracks.json
  Sigook.Web/src/data/landing/talentsReasons.json
  Sigook.Web/src/data/landing/talentsSolutions.json
  Sigook.Web/src/data/landing/testimonials.json
Due: .azure-pipelines/sigook-web-pipeline.yml

Update billing rules for holiday pay and adjust invoice service logic; refine layout margins in OpenPositionsListSection and AdminWeeklyBoard components
  .docs/business/BILLING_RULES.md
  Covenant.Api/Covenant.Core.BL/Services/Invoices/CanadaInvoiceService.cs
  Sigook.Web/src/components/landing/OpenPositions/OpenPositionsListSection.vue
  Sigook.Web/src/components/weekly_board/AdminWeeklyBoard.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Refactor routing logic in SidebarLogged and Callback components; enhance silent sign-in handling in security store; add migration for reusing refresh tokens and updating post-logout redirect URIs.
  Covenant.IdentityServer/Covenant.IdentityServer/Data/Migrations/IdentityServer/ConfigurationDb/20260708000000_ReuseRefreshTokensForWebClients.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Data/Migrations/IdentityServer/ConfigurationDb/20260708000000_ReuseRefreshTokensForWebClients.cs
  Sigook.Web/src/components/SidebarLogged.vue
  Sigook.Web/src/main.ts
  Sigook.Web/src/pages/Callback.vue
  Sigook.Web/src/router/index.ts
  Sigook.Web/src/security/securityService.ts
  Sigook.Web/src/stores/security.ts
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: Add sales module controllers and update roles
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCompanyProfile/Controllers/V2AgencyCompanyProfileController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyPersonnel/Controllers/AgencyPersonnelController.cs
  Covenant.Api/Covenant.Api/AgencyModule/AgencyRequest/Controllers/AgencyRequestController.cs
  Covenant.Api/Covenant.Api/Authorization/AgencyIdFilter.cs
  Covenant.Api/Covenant.Api/Authorization/PolicyConfiguration.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyLocation/Controllers/CompanyLocationController.cs
  Covenant.Api/Covenant.Api/CompanyModule/CompanyProfileLocation/Controllers/CompanyProfileLocationController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/CompanyProfilesController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/RequestsController.cs
  Covenant.Api/Covenant.Api/Security/Controllers/UserNotificationController.cs
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
  Covenant.Api/Covenant.Common/Models/Company/GetCompanyForAgencyFilter.cs
  Covenant.Api/Covenant.Common/Models/Request/GetRequestForAgencyFilter.cs
  Covenant.Api/Covenant.Common/Models/Security/CreateUserModel.cs
  Covenant.Api/Covenant.Common/Models/Security/UpdateRoleModel.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/PrincipalExtensions.cs
  Covenant.Api/Covenant.Core.BL/Adapters/CompanyAdapter.cs
  Covenant.Api/Covenant.Core.BL/Services/AgencyService.cs
  Covenant.Api/Covenant.Core.BL/Services/CandidateService.cs
  Covenant.Api/Covenant.Core.BL/Services/CompanyService.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Infrastructure/Services/IdentityServerService.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyPersonnelTest/AgencyPersonnelControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequest/SalesRequestsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/TestAuthenticationHandler.cs
  Covenant.Api/Covenant.Integration.Tests/Utils/TestAuthenticationMiddleware.cs
  Covenant.Web/package.json
  Covenant.Web/pnpm-lock.yaml
  Covenant.Web/tsconfig.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Captcha added
  Sigook.Web/src/components/landing/shared/forms/GetInTouchForm.vue
  Sigook.Web/src/main.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Captcha added
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyForm.vue
  Sigook.Web/src/components/landing/shared/forms/candidateApplyService.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: Upgrade project to .NET 8 and update dependencies
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/CompanyProfilesController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/RequestsController.cs
  Covenant.Api/Covenant.Common/Interfaces/IIdentityServerService.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ISalesService.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Services/IdentityServerService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/BackgroundServices/SigookIdentityBackgroundService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/Microsoft365OpenIdConnect.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/ExternalController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/Models/Constants.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/UserAdministrationController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Covenant.IdentityServer.csproj
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713011240_Net8ModelSync.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713011240_Net8ModelSync.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713011345_RoleRedesign.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713011345_RoleRedesign.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713014614_RemoveInvalidUsers.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260713014614_RemoveInvalidUsers.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/Impl/EmailService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Development.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Production.json
  Covenant.IdentityServer/Covenant.IdentityServer/appsettings.Staging.json
  Covenant.IdentityServer/Dockerfile
  Covenant.IdentityServer/global.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Interaction's entity, repo, configuration and dbSet added
  Covenant.Api/Covenant.Common/Entities/Company/CompanyInteraction.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/CompanyInteractionConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

CompanyInteractionRepository added to ApiServices Configuration
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Add integration tests for Agency Module Requests
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/CompanyProfilesControllerEmailTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/CompanyProfilesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/ContactInformationControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/ContactPeopleControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/DocumentsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/JobPositionsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/LocationsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/LogoControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/NotesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/ApplicantsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/NotesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/ReportToControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/RequestedByControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/RequestsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/SalesRequestsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/ShiftControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/SkillsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/WorkerNotesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/WorkerTimeSheetsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/WorkersControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/WorkersControllerTestData.cs
  Covenant.IdentityServer/Covenant.IdentityServer/nuget.config
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Fixing Holidays for invoices
  .docs/business/BILLING_RULES.md
  Covenant.Api/Covenant.Common/Repositories/Accounting/IInvoiceRepository.cs
  Covenant.Api/Covenant.Core.BL/Services/Invoices/CanadaInvoiceService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Accounting/InvoiceRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Update documentation and refactor code across multiple projects
  .docs/README.md
  .docs/business/BILLING_RULES.md
  .docs/business/BUSINESS_MODEL.md
  .docs/business/PAYROLL_RULES.md
  .docs/business/PAYSTUB_GENERATION.md
  .docs/business/REQUEST_STATE_MANAGEMENT.md
  .docs/business/ROLES_PERMISSIONS.md
  .docs/business/TIMESHEET_RULES.md
  .docs/business/WORKFLOWS.md
  .docs/technical/ARCHITECTURE.md
  .docs/technical/DEVELOPMENT_COMMANDS.md
  .docs/technical/ENTITIES_RELATIONSHIPS.md
  .docs/technical/PIPELINES.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  CLAUDE.md
  Covenant.Api/CLAUDE.md
  Covenant.IdentityServer/CLAUDE.md
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/AccountController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/UserAdministrationController.cs
  Sigook.Functions/CLAUDE.md
  Sigook.Web/CLAUDE.md
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Dashboard added
  Sigook.Web/package-lock.json
  Sigook.Web/src/api/salesDashboardApi.ts
  Sigook.Web/src/assets/scss/variables.scss
  Sigook.Web/src/components/Address.vue
  Sigook.Web/src/components/Comments.vue
  Sigook.Web/src/components/SidebarLogged.vue
  Sigook.Web/src/components/sales_dashboard/SalesBarChart.vue
  Sigook.Web/src/components/sales_dashboard/SalesCard.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientList.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateDrawer.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/components/sales_dashboard/SalesGoalDonut.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionList.vue
  Sigook.Web/src/components/sales_dashboard/SalesList.vue
  Sigook.Web/src/components/sales_dashboard/SalesListRow.vue
  Sigook.Web/src/components/sales_dashboard/SalesMeterList.vue
  Sigook.Web/src/components/sales_dashboard/SalesRangeTabs.vue
  Sigook.Web/src/composables/useBillingAdmin.ts
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/router/routesAgency.ts
  Sigook.Web/src/security/menu.ts
  Sigook.Web/src/security/roles.ts
  Sigook.Web/src/types/salesDashboard.ts
  Sigook.Web/src/utils/salesDashboardFormat.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Conflicts resolved
  Sigook.Web/src/components/Comments.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Add migration to include ChangedByUser in RunnerStatusHistory
  .docs/business/WORKFLOWS.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/CompanyModule/CompanyJobPosition/Controllers/CompanyJobPositionController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/CompanyProfiles/JobPositionsController.cs
  Covenant.Api/Covenant.Common/Entities/Request/Runners/Runner.cs
  Covenant.Api/Covenant.Common/Entities/Request/Runners/RunnerStatusHistory.cs
  Covenant.Api/Covenant.Common/Models/Company/GetJobPositionsFilter.cs
  Covenant.Api/Covenant.Common/Models/Request/Runners/RunnerStatusHistoryModel.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRunnerRepository.cs
  Covenant.Api/Covenant.Core.BL/Services/CandidateService.cs
  Covenant.Api/Covenant.Core.BL/Services/NotificationService.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Request/Runners/RunnerStatusHistoryConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260715165024_AddChangedByUserToRunnerStatusHistory.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260715165024_AddChangedByUserToRunnerStatusHistory.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RunnerRepository.cs
  Covenant.Api/Covenant.Infrastructure/Services/IdentityServerService.cs
  Sigook.Web/src/api/agencyCompanyApi.ts
  Sigook.Web/src/components/agency_company/JobPositionList.vue
  Sigook.Web/src/components/agency_request/Runners.vue
  Sigook.Web/src/components/runner/RunnerHistoryModal.vue
  Sigook.Web/src/components/runner/RunnerStatusModal.vue
  Sigook.Web/src/security/menu.ts
  Sigook.Web/src/types/agency.ts
  Sigook.Web/src/types/runner.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

feat: add bulk recruiter assignment functionality
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Authorization/PolicyConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Requests/RequestsController.cs
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
  Covenant.Api/Covenant.Common/Entities/Candidate/Candidate.cs
  Covenant.Api/Covenant.Common/Models/Candidate/CandidateDetailModel.cs
  Covenant.Api/Covenant.Common/Models/Request/BulkRequestRecruiters.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Request/IRequestRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IRequestService.cs
  Covenant.Api/Covenant.Core.BL/Services/CandidateService.cs
  Covenant.Api/Covenant.Core.BL/Services/RequestService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Candidate/CandidateRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Sigook.Web/src/api/agencyRequestApi.ts
  Sigook.Web/src/components/agency_request/Applicants.vue
  Sigook.Web/src/components/agency_request/BulkRecruiterModal.vue
  Sigook.Web/src/components/agency_request/Runners.vue
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/components/candidate/DetailCandidate.vue
  Sigook.Web/src/components/runner/SelectRunnerTypeModal.vue
  Sigook.Web/src/composables/useAdministration.ts
  Sigook.Web/src/security/roles.ts
  Sigook.Web/src/types/agency.ts
  Sigook.Web/src/types/candidate.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Log interactions flow created
  Sigook.Web/src/api/companyInteractionApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientList.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateDrawer.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionList.vue
  Sigook.Web/src/components/sales_dashboard/SalesListRow.vue
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/types/companyInteraction.ts
  Sigook.Web/src/types/salesDashboard.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Log interactions flow created
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/CompanyInteractionsController.cs
  Covenant.Api/Covenant.Api/Covenant.Api.csproj
  Covenant.Api/Covenant.Common/Entities/Company/CompanyInteraction.cs
  Covenant.Api/Covenant.Common/Models/Company/CompanyInteractionListModel.cs
  Covenant.Api/Covenant.Common/Models/Company/CreateCompanyInteractionModel.cs
  Covenant.Api/Covenant.Common/Models/Company/GetCompanyInteractionsFilter.cs
  Covenant.Api/Covenant.Common/Models/Company/UpdateCompanyInteractionModel.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyInteractionRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ICompanyInteractionService.cs
  Covenant.Api/Covenant.Core.BL/Services/CompanyInteractionService.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/CompanyInteractionConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Contexts/CovenantContext.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260716154057_AddCompanyInteractions.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260716154057_AddCompanyInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Deals connected to the front end
  Sigook.Web/src/api/dealApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesCreateDrawer.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/types/deal.ts
  Sigook.Web/src/types/salesDashboard.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Deals connected to the front end
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/DealsController.cs
  Covenant.Api/Covenant.Common/Entities/Company/Deal.cs
  Covenant.Api/Covenant.Common/Models/Company/CreateDealModel.cs
  Covenant.Api/Covenant.Common/Models/Company/DealListModel.cs
  Covenant.Api/Covenant.Common/Models/Company/GetDealsFilter.cs
  Covenant.Api/Covenant.Common/Models/Company/UpdateDealModel.cs
  Covenant.Api/Covenant.Common/Repositories/Company/IDealRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/IDealService.cs
  Covenant.Api/Covenant.Core.BL/Services/DealService.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/DealConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Contexts/CovenantContext.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260719184620_AddDeals.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260719184620_AddDeals.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Lists modified
  Sigook.Web/src/components/sales_dashboard/SalesClientForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/components/sales_dashboard/SearchSelect.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Interactions and Deals pages created
  Sigook.Web/src/components/sales_dashboard/SalesCard.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
  Sigook.Web/src/router/routesAgency.ts
  Sigook.Web/src/security/menu.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

User is now dinamically rendered
  Sigook.Web/src/composables/useCurrentAgent.ts
  Sigook.Web/src/data/sales/salesDashboard.json
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/types/salesDashboard.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing invoice
  Covenant.Api/Covenant.Api/Views/Billing/Invoice/Invoice.cshtml
  Covenant.Api/Covenant.Api/Views/Shared/InvoiceLayout.cshtml
  Covenant.Api/Covenant.Api/Views/Shared/_DescriptionTable.cshtml
Due: .azure-pipelines/covenant-api-pipeline.yml

Timesheet Report
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Accounting/ReportsController.cs
  Covenant.Api/Covenant.Common/Models/Accounting/TimesheetsReportFilter.cs
  Covenant.Api/Covenant.Common/Models/Accounting/TimesheetsReportResponse.cs
  Covenant.Api/Covenant.Common/Repositories/Request/ITimeSheetRepository.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ITimeSheetService.cs
  Covenant.Api/Covenant.Core.BL/Services/TimeSheetService.cs
  Covenant.Api/Covenant.Documents/Services/GenerateTimesheetsReport.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/TimeSheetRepository.cs
  Sigook.Web/src/api/agencyReportApi.ts
  Sigook.Web/src/components/agency_accounting/TimesheetsReport.vue
  Sigook.Web/src/pages/agency/accounting/Reports.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fix Company Fullname
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Phone number corrected
  Sigook.Web/src/components/landing/shared/layout/Footer.vue
Due: .azure-pipelines/sigook-web-pipeline.yml
