Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.azure-pipelines/covenant-api-pipeline.yml:
  name: CovenantApi-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Run Tests
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/covenant-common-nuget-pipeline.yml:
  name: CovenantCommon-$(Year:yyyy).$(Month).$(DayOfMonth).$(Rev:r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_Test_Publish
    displayName: Build, Test, and Publish NuGet Package
    jobs:
    - job: Quality_Gate
      displayName: Run Tests (Quality Gate)
      steps:
      - checkout: self
  ...

.azure-pipelines/covenant-identityserver-pipeline.yml:
  name: CovenantIdentityServer-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Test
    jobs:
    - job: Build_Test_Solution
      displayName: Build and Test IdentityServer Solution
      steps:
      - template: templates/dotnet-setup.yml
  ...

.azure-pipelines/covenantweb-pipeline.yml:
  name: CovenantWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: CI_CD
    displayName: CI/CD Pipeline
    jobs:
    - job: Build_and_Test
      displayName: Build and Test Application
  ...

.azure-pipelines/sigook-web-pipeline.yml:
  name: SigookWeb-$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Build_and_Test
    displayName: Build and Validate
    jobs:
    - job: Validate
      displayName: Lint and Build Validation
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

.azure-pipelines/sigookapp-pipeline.yml:
  name: SigookApp-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Validate_and_Test
    displayName: Validate & Test
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Flutter_Test
      displayName: Flutter Analyze & Test
      steps:
      - checkout: self
        displayName: Checkout Repository
  ...

Interactions and deals repos unified into Company repo
  Covenant.Api/Covenant.Api/Configuration/ApiServicesConfiguration.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyInteractionRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Common/Repositories/Company/IDealRepository.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyInteractionRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/DealRepository.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

fix: unnecessary agency filter removed
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

captcha deleted
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyForm.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

re-captcha removed from CandidateApplyForm
  Sigook.Web/src/components/landing/shared/forms/CandidateApplyForm.vue
  Sigook.Web/src/components/landing/shared/forms/candidateApplyService.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Improvemente pipelines
  .azure-pipelines/templates/dotnet-build-test.yml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/CandidatesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/DocumentsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/CompanyProfiles/DocumentsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Common/CatalogControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

validators modified
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/CompanyInteractionsController.cs
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/DealsController.cs
  Covenant.Api/Covenant.Api/Validators/Company/CreateCompanyInteractionModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/CreateDealModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/UpdateCompanyInteractionModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Company/UpdateDealModelValidator.cs
  Covenant.Api/Covenant.Common/Constants/CovenantConstants.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

fix: Files upload
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/DealsController.cs
  Covenant.Api/Covenant.Common/Models/Company/CreateDealModel.cs
  Covenant.Api/Covenant.Common/Models/Company/DealDocumentModel.cs
  Covenant.Api/Covenant.Common/Models/Company/DealListModel.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ISalesService.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
  Sigook.Web/src/api/dealApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

fix: enum moved to its filter
  Covenant.Api/Covenant.Common/Enums/GetCompanyInteractionsSortBy.cs
  Covenant.Api/Covenant.Common/Models/Company/GetCompanyInteractionsFilter.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

fix: CompanyProfileBelongs to agency deleted among small fixes
  Covenant.Api/Covenant.Common/Enums/GetDealsSortBy.cs
  Covenant.Api/Covenant.Common/Models/Company/GetDealsFilter.cs
  Covenant.Api/Covenant.Common/Repositories/Company/ICompanyRepository.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/CompanyInteractionConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Configurations/Company/DealConfiguration.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

feat: deals and interactions migration
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Infrastructure/Migrations/20260806143015_AddDealsAndCompanyInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260809152827_UpdateDealAndCompanyInteractionSchema.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260809152827_UpdateDealAndCompanyInteractionSchema.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260811131845_AddDealsAndInteractions.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260811131845_AddDealsAndInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/CovenantContextModelSnapshot.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: migration
  Covenant.Api/Covenant.Infrastructure/Migrations/20260811131845_AddDealsAndInteractions.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260811133554_AddDealsAndInteractions.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260811133554_AddDealsAndInteractions.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

fix: Deal Document endpoint deleted
  Covenant.Api/Covenant.Api/Controllers/Sigook/Agency/Sales/DealsController.cs
  Covenant.Api/Covenant.Common/Models/Company/DealDocumentModel.cs
  Covenant.Api/Covenant.Core.BL/Interfaces/ISalesService.cs
  Covenant.Api/Covenant.Core.BL/Services/SalesService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceDealTest.cs
  Covenant.Api/Covenant.Tests/Sales/SalesServiceInteractionTest.cs
  Sigook.Web/src/api/dealApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealList.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

fix: Utc to Now
  Covenant.Api/Covenant.Common/Entities/Company/CompanyInteraction.cs
  Covenant.Api/Covenant.Common/Entities/Company/Deal.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

change: OwnerName to OwnerEmail on Model
  .docs/technical/openapi.json
  Covenant.Api/Covenant.Common/Models/Company/CompanyInteractionListModel.cs
  Covenant.Api/Covenant.Common/Models/Company/DealListModel.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Company/CompanyRepository.cs
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
  Sigook.Web/src/types/company.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

fix: salesDashboard to sales
  Sigook.Web/src/types/sales.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

salesDashboard to sales
  Sigook.Web/src/api/salesDashboardApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesBarChart.vue
  Sigook.Web/src/components/sales_dashboard/SalesClientList.vue
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesGoalDonut.vue
  Sigook.Web/src/components/sales_dashboard/SalesMeterList.vue
  Sigook.Web/src/components/sales_dashboard/SalesRangeTabs.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

fix(payroll): exclude overtime from holiday pay base
  .docs/business/PAYROLL_RULES.md
  Covenant.Api/Covenant.Core.BL/Services/Accounting/Shared/TimesheetCalculatorService.cs
  Covenant.Api/Covenant.Tests/Billing/Holidays/GeneratePayStubHolidayPayTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

types moved to companyApi
  Sigook.Web/src/api/companyInteractionApi.ts
  Sigook.Web/src/api/dealApi.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

fix: types
  Sigook.Web/src/api/companyApi.ts
  Sigook.Web/src/components/sales_dashboard/SalesCreateModal.vue
  Sigook.Web/src/components/sales_dashboard/SalesDealForm.vue
  Sigook.Web/src/components/sales_dashboard/SalesInteractionForm.vue
  Sigook.Web/src/pages/agency/Dashboard.vue
  Sigook.Web/src/pages/agency/SalesDeals.vue
  Sigook.Web/src/pages/agency/SalesInteractions.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

feat: add sales dashboard documentation
  .docs/README.md
  .docs/business/ROLES_PERMISSIONS.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_SALES_DASHBOARD.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  CLAUDE.md
  Sigook.Web/CLAUDE.md
Due: none

fix(telemetry): restore Application Insights ingestion in deployed environments
  Covenant.Api/Covenant.Api/Program.cs
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
Due: .azure-pipelines/covenant-api-pipeline.yml

feat(app): replace OIDC browser sign-in with native login screen
  .docs/technical/ARCHITECTURE.md
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/lib/features/auth/data/models/auth_token_model.dart
  SigookApp/lib/features/auth/data/repositories/auth_repository_impl.dart
  SigookApp/lib/features/auth/domain/repositories/auth_repository.dart
  SigookApp/lib/features/auth/domain/usecases/sign_in.dart
  SigookApp/lib/features/auth/presentation/pages/sign_in_page.dart
  SigookApp/lib/features/auth/presentation/providers/auth_providers.dart
  SigookApp/lib/features/auth/presentation/viewmodels/auth_viewmodel.dart
  SigookApp/lib/features/registration/presentation/pages/registration_confirmation_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/test/features/auth/data/datasources/auth_remote_datasource_test.dart
  SigookApp/test/features/auth/data/models/auth_token_model_test.dart
  SigookApp/test/features/auth/data/repositories/auth_repository_impl_test.dart
  SigookApp/test/features/auth/domain/usecases/sign_in_test.dart
  SigookApp/test/features/auth/presentation/viewmodels/auth_viewmodel_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

logo replacement
  SigookApp/.idea/libraries/Dart_SDK.xml
  SigookApp/.idea/workspace.xml
  SigookApp/android/sigook_app_flutter_android.iml
  SigookApp/lib/features/auth/presentation/pages/sign_in_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Merge branch 'hotfix/sigookapp-login' of https://github.com/sigook/Applications into hotfix/sigookapp-login
  SigookApp/.idea/workspace.xml
Due: .azure-pipelines/sigookapp-pipeline.yml

Login refactor
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/DevelopmentConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/LocalConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/ProductionSigookConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Configuration/QAConfiguration.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/Models/ForgotPasswordModel.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/Models/ResetPasswordWithCodeModel.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Controllers/Account/PasswordController.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Data/CovenantContext.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Data/Migrations/IdentityServer/ConfigurationDb/20260820000000_AddPasswordGrantForNativeLogin.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Data/Migrations/IdentityServer/ConfigurationDb/20260820000000_AddPasswordGrantForNativeLogin.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Entities/PasswordResetCode.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260820153928_AddPasswordResetCodes.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Migrations/20260820153928_AddPasswordResetCodes.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Models/PasswordResetResult.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Program.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Resources/Resources.Designer.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Resources/Resources.resx
  Covenant.IdentityServer/Covenant.IdentityServer/Security/CovenantResourceOwnerPasswordValidator.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/IPasswordResetService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Services/Impl/PasswordResetService.cs
  Covenant.IdentityServer/Covenant.IdentityServer/Templates/Email/confirm_account.html
  Covenant.IdentityServer/Covenant.IdentityServer/Templates/Email/reset_password.html
  Covenant.IdentityServer/Covenant.IdentityServer/Views/Notifications/PasswordResetCode.cshtml
  Covenant.IdentityServer/Covenant.IdentityServer/Views/Notifications/PasswordResetCodeViewModel.cs
  Sigook.Web/src/App.vue
  Sigook.Web/src/api/authApi.ts
  Sigook.Web/src/assets/images/office.svg
  Sigook.Web/src/assets/scss/auth.scss
  Sigook.Web/src/assets/scss/master.scss
  Sigook.Web/src/components/SidebarLogged.vue
  Sigook.Web/src/components/landing/shared/layout/Header.vue
  Sigook.Web/src/components/worker/WorkerAccountSecurity.vue
  Sigook.Web/src/pages/auth/ForgotPassword.vue
  Sigook.Web/src/pages/auth/Login.vue
  Sigook.Web/src/router/index.ts
  Sigook.Web/src/security/apiService.ts
  Sigook.Web/src/security/authErrors.ts
  Sigook.Web/src/security/securityService.ts
  Sigook.Web/src/stores/security.ts
  Sigook.Web/src/types/security.ts
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Documentation update
  .docs/technical/ARCHITECTURE.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  Covenant.IdentityServer/CLAUDE.md
Due: none

location service created and implemented
  SigookApp/.idea/libraries/Dart_SDK.xml
  SigookApp/.idea/workspace.xml
  SigookApp/ios/Runner/Info.plist
  SigookApp/lib/core/providers/location_provider.dart
  SigookApp/lib/core/services/location_service.dart
  SigookApp/lib/core/services/location_service_impl.dart
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
  SigookApp/lib/features/jobs/data/repositories/timesheet_repository_impl.dart
  SigookApp/lib/features/jobs/domain/repositories/timesheet_repository.dart
  SigookApp/lib/features/jobs/domain/usecases/get_clock_type.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/test/core/services/location_service_impl_test.dart
  SigookApp/test/features/jobs/domain/usecases/get_clock_type_test.dart
  SigookApp/test/helpers/mocks.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

DioExceptionType.transformTimeout added
  SigookApp/lib/core/network/dio_error_interceptor.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

flutter cache cleansing
  SigookApp/ios/ci_scripts/ci_post_clone.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Fix: ci post clone
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/core/services/location_service_impl.dart
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/test/core/services/location_service_impl_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing Upload documents
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

ci_post_clone fix
  SigookApp/ios/Flutter/AppFrameworkInfo.plist
  SigookApp/ios/Podfile
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/macos/Runner.xcodeproj/project.pbxproj
Due: .azure-pipelines/sigookapp-pipeline.yml

Track pubspec.lock so CI resolves the same dependency versions
  SigookApp/.gitignore
  SigookApp/pubspec.lock
Due: .azure-pipelines/sigookapp-pipeline.yml

Fix podfile for ios
  SigookApp/ios/Podfile
Due: .azure-pipelines/sigookapp-pipeline.yml

auth fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.env.example
  SigookApp/.idea/workspace.xml
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/features/auth/data/datasources/auth_remote_datasource.dart
  SigookApp/test/features/auth/data/datasources/auth_remote_datasource_test.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md
