Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Flutter Flavors Remove process
  SigookApp/.env.example
  SigookApp/README.md
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/res/values/strings.xml
  SigookApp/fastlane/Fastfile
  SigookApp/ios/Flutter/Debug.xcconfig
  SigookApp/ios/Flutter/Production-Debug.xcconfig
  SigookApp/ios/Flutter/Production-Profile.xcconfig
  SigookApp/ios/Flutter/Production-Release.xcconfig
  SigookApp/ios/Flutter/Profile.xcconfig
  SigookApp/ios/Flutter/Release.xcconfig
  SigookApp/ios/Flutter/Staging-Debug.xcconfig
  SigookApp/ios/Flutter/Staging-Release.xcconfig
  SigookApp/ios/Podfile
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/main.dart
  SigookApp/lib/main_local.dart
  SigookApp/lib/main_production.dart
  SigookApp/lib/main_staging.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Flavors removed
  SigookApp/.gitignore
  SigookApp/.vscode/README.md
  SigookApp/.vscode/launch.json
  SigookApp/android/app/proguard-rules.pro
  SigookApp/android/app/src/main/kotlin/com/example/sigook_app_flutter/MainActivity.kt
  SigookApp/android/app/src/main/kotlin/com/sigook/beta/MainActivity.kt
Due: .azure-pipelines/sigookapp-pipeline.yml

Flavors removed from sigookapp-pipeline
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Preferences Fix and Splash Screen logo changed
  SigookApp/.claude/settings.local.json
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Delete SigookApp/.claude directory
  SigookApp/.claude/settings.local.json
Due: .azure-pipelines/sigookapp-pipeline.yml

Delete SigookApp/.vscode directory
  SigookApp/.vscode/README.md
  SigookApp/.vscode/launch.json
  SigookApp/.vscode/tasks.json
Due: .azure-pipelines/sigookapp-pipeline.yml

Add .claude and .vscode to .gitignore
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

Remove deprecated column
  .azure-pipelines/templates/notify-deployment.yml
  Covenant.Api/Covenant.Infrastructure/Migrations/20260327161135_RemoveOtherDeductionsColumn.Designer.cs
  Covenant.Api/Covenant.Infrastructure/Migrations/20260327161135_RemoveOtherDeductionsColumn.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml

Widgets refactor completed
  SigookApp/lib/core/widgets/buttons/action_button.dart
  SigookApp/lib/core/widgets/buttons/file_picker_button.dart
  SigookApp/lib/core/widgets/cards/custom_card.dart
  SigookApp/lib/core/widgets/cards/info_card.dart
  SigookApp/lib/core/widgets/cards/profile_section_card.dart
  SigookApp/lib/core/widgets/display/gradient_icon_container.dart
  SigookApp/lib/core/widgets/display/info_row.dart
  SigookApp/lib/core/widgets/display/profile_info_row.dart
  SigookApp/lib/core/widgets/display/status_badge.dart
  SigookApp/lib/core/widgets/feedback/empty_state_widget.dart
  SigookApp/lib/core/widgets/feedback/error_state_widget.dart
  SigookApp/lib/core/widgets/feedback/loading_indicator.dart
  SigookApp/lib/core/widgets/feedback/network_status_banner.dart
  SigookApp/lib/core/widgets/inputs/custom_dropdown.dart
  SigookApp/lib/core/widgets/inputs/custom_text_field.dart
  SigookApp/lib/core/widgets/layout/page_scaffold.dart
  SigookApp/lib/core/widgets/layout/section_divider.dart
  SigookApp/lib/core/widgets/navigation/navbar_logo.dart
  SigookApp/lib/core/widgets/widgets.dart
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/catalog/presentation/widgets/catalog_error_widget.dart
  SigookApp/lib/features/history/presentation/pages/history_page.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/jobs/presentation/widgets/app_drawer.dart
  SigookApp/lib/features/jobs/presentation/widgets/job_header_card.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/settings/presentation/pages/language_settings_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor completed
  SigookApp/lib/features/about/presentation/pages/about_page.dart
  SigookApp/lib/features/about/presentation/widgets/about_constants.dart
  SigookApp/lib/features/about/presentation/widgets/about_section.dart
  SigookApp/lib/features/about/presentation/widgets/category_row.dart
  SigookApp/lib/features/about/presentation/widgets/hero_section.dart
  SigookApp/lib/features/about/presentation/widgets/industries_section.dart
  SigookApp/lib/features/about/presentation/widgets/industry_chip.dart
  SigookApp/lib/features/about/presentation/widgets/job_categories_section.dart
  SigookApp/lib/features/about/presentation/widgets/legal_section.dart
  SigookApp/lib/features/about/presentation/widgets/service_card.dart
  SigookApp/lib/features/about/presentation/widgets/services_section.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Phone number bug, documents bug fixed
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/registration/data/services/phone_number_parser_validation_service.dart
  SigookApp/lib/features/registration/domain/entities/country.dart
  SigookApp/lib/features/registration/domain/services/phone_validation_service.dart
  SigookApp/lib/features/registration/presentation/pages/basic_info_page.dart
  SigookApp/lib/features/registration/presentation/widgets/file_upload_modal.dart
  SigookApp/lib/features/registration/presentation/widgets/location_selector.dart
  SigookApp/lib/features/registration/presentation/widgets/phone_number_field.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Bugs fixed
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/widgets/searchable_toggle_list.dart
  SigookApp/lib/features/registration/data/services/phone_number_parser_validation_service.dart
  SigookApp/lib/features/registration/domain/entities/basic_info.dart
  SigookApp/lib/features/registration/domain/entities/value_objects/zip_code.dart
  SigookApp/lib/features/registration/presentation/pages/basic_info_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixes
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

xschemes added
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
Due: .azure-pipelines/sigookapp-pipeline.yml

Launch settings instructions added. User Profile Remote Data Source refactored
  SigookApp/README.md
  SigookApp/lib/core/network/dio_error_interceptor.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

UserProfilePage correctly refactored
  SigookApp/lib/core/widgets/display/chip_display_row.dart
  SigookApp/lib/core/widgets/inputs/date_picker_field.dart
  SigookApp/lib/core/widgets/navigation/document_preview_page.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/widgets/certificate_card.dart
  SigookApp/lib/features/profile/presentation/widgets/chip_selector.dart
  SigookApp/lib/features/profile/presentation/widgets/document_file_row.dart
  SigookApp/lib/features/profile/presentation/widgets/license_card.dart
  SigookApp/lib/features/profile/presentation/widgets/profile_action_buttons.dart
  SigookApp/lib/features/profile/presentation/widgets/section_edit_actions.dart
  SigookApp/lib/features/profile/presentation/widgets/upload_action_row.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing Address component issue
  Covenant.Api/Covenant.Api/AgencyModule/AgencyCompanyProfileLocation/Controllers/AgencyCompanyProfileLocationController.cs
  Sigook.Web/src/components/Address.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixes with address
  Sigook.Web/src/components/worker/WorkContactInformationForm.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Profile picture is optional now, Resume button fixed
  SigookApp/README.md
  SigookApp/lib/core/services/analytics_service.dart
  SigookApp/lib/core/widgets/profile_section_card.dart
  SigookApp/lib/features/auth/presentation/pages/logout_webview_page.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/legal/presentation/pages/legal_page.dart
  SigookApp/lib/features/registration/domain/entities/basic_info.dart
  SigookApp/lib/features/registration/domain/entities/value_objects/name.dart
  SigookApp/lib/features/registration/presentation/pages/basic_info_page.dart
  SigookApp/lib/features/registration/presentation/pages/documents_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/registration/presentation/widgets/custom_text_field.dart
  SigookApp/lib/features/registration/presentation/widgets/registration_step_indicator.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Registration from changes
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/registration/presentation/pages/registration_confirmation_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Pod file fix
  SigookApp/ios/Podfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Pod file fix
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/xcode_cloud_log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Pod file fix
  SigookApp/xcode_cloud_log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Pod file fix
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Phone number mask corrected, Continue/Back buttons now are hidden by the keyboard
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/registration/presentation/pages/registration_screen.dart
  SigookApp/lib/features/registration/presentation/widgets/phone_number_field.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Phone number mask corrected, Continue/Back buttons now are hidden by the keyboard
  SigookApp/lib/features/about/presentation/pages/about_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Deleting catalog unneeded
  Sigook.Web/src/api/websiteApi.ts
  Sigook.Web/src/components/agency_request/AgencyPunchCardWorkerContainer.vue
  Sigook.Web/src/components/agency_request/AgencyRequestTimeSheetModal.vue
  Sigook.Web/src/components/candidate/CreateCandidate.vue
  Sigook.Web/src/components/candidate/DetailCandidate.vue
  Sigook.Web/src/components/company_request/CompanyPunchCardWorkerContainer.vue
  Sigook.Web/src/components/company_request/CompanyRequestTimeSheetModal.vue
  Sigook.Web/src/composables/useCatalog.ts
  Sigook.Web/src/composables/useLocation.ts
  Sigook.Web/src/constants/catalog.ts
  Sigook.Web/src/mixins/distributeHoursMixin.ts
  Sigook.Web/src/pages/agency/Candidates.vue
  Sigook.Web/src/types/index.ts
  Sigook.Web/src/types/website.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Remove unused configuration and added configuration as per environment
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Api/appsettings.json
  Sigook.Functions/.gitignore
  Sigook.Functions/Sigook.Functions/Models/SendGridSettings.cs
  Sigook.Functions/Sigook.Functions/Program.cs
  Sigook.Functions/Sigook.Functions/Services/IEmailService.cs
  Sigook.Functions/Sigook.Functions/Services/SendGridService.cs
  Sigook.Functions/Sigook.Functions/Sigook.Functions.csproj
  Sigook.Functions/Sigook.Functions/appsettings.Production.json
  Sigook.Functions/Sigook.Functions/local.settings.json
  Sigook.Web/.env.development.local
  Sigook.Web/.env.production
  Sigook.Web/.env.staging
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing remove paystub
  Covenant.Api/.claude/settings.local.json
  Covenant.Api/Covenant.Api/AccountingModule/PayStub/Controllers/AccountingPayStubV4Controller.cs
  Covenant.Api/Covenant.Common/Entities/Accounting/PayStub/PayStub.cs
  Covenant.Api/Covenant.Common/Entities/Worker/WorkerProfile.cs
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Covenant.Api/Covenant.PayStubs/Services/PayStubBuilder.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

Remove file
  Covenant.Api/.claude/settings.local.json
Due: .azure-pipelines/covenant-api-pipeline.yml

Add multiples bonuses
  Sigook.Web/src/pages/agency/accounting/CreatePayStub.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Update settings
  Sigook.Functions/Sigook.Functions/appsettings.Production.json
Due: none

Adding KeyVault key
  Sigook.Functions/Sigook.Functions/appsettings.Production.json
  Sigook.Functions/Sigook.Functions/local.settings.json
Due: none

refactor: Merge conflicts solved, Flutter flavors removed
  SigookApp/lib/features/auth/presentation/pages/logout_webview_page.dart
  SigookApp/lib/features/legal/presentation/pages/legal_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml
