Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

refactor: Update invitation and cancellation logic to check for workers in Open status
  Sigook.Web/src/pages/agency/Request.vue
  Sigook.Web/src/pages/company/Request.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Production and Staging phases configured in pipeline
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/AndroidManifest.xml
  SigookApp/fastlane/Fastfile
  SigookApp/ios/ExportOptions-production.plist
Due: .azure-pipelines/sigookapp-pipeline.yml

Styling and local environment fixes
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/flutter-setup.yml
  .gitignore
  SigookApp/assets/images/logo/header-logo.png
  SigookApp/assets/images/logo/sigook-logo.png
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/core/widgets/navbar_logo.dart
  SigookApp/lib/features/jobs/presentation/pages/job_page.dart
  SigookApp/lib/features/jobs/presentation/pages/jobs_page.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/settings/presentation/pages/language_settings_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
  SigookApp/lib/main_common.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Production finishing touches
  SigookApp/android/app/build.gradle.kts
  SigookApp/fastlane/Fastfile
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/lib/core/theme/app_theme.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

pipeline fixes
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/flutter-setup.yml
  SigookApp/.env.example
  SigookApp/fastlane/Fastfile
  SigookApp/lib/core/config/env_loader.dart
  SigookApp/lib/core/config/environment.dart
  SigookApp/lib/main_production.dart
  SigookApp/lib/main_staging.dart
Due: .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: Update email service to use SendCovenantEmail method and adjust email settings in configuration files
  .azure-pipelines/sigookapp-pipeline.yml
  Covenant.Api/Covenant.Api/AccountingModule/InvoiceDocument/Controllers/AccountingInvoiceDocumentV4Controller.cs
  Covenant.Api/Covenant.Api/AccountingModule/PayStubDocument/Controllers/AccountingPayStubDocumentV4Controller.cs
  Covenant.Api/Covenant.Api/appsettings.Development.json
  Covenant.Api/Covenant.Api/appsettings.Production.json
  Covenant.Api/Covenant.Api/appsettings.Staging.json
  Covenant.Api/Covenant.Common/Configuration/EmailSettings.cs
  Covenant.Api/Covenant.Common/Interfaces/IEmailService.cs
  Covenant.Api/Covenant.Infrastructure/Services/EmailService.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
  Sigook.Web/src/lang/en.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: Update Azure DevOps pipeline configuration and add documentation for self-hosted agent setup
  .azure-pipelines/covenant-api-pipeline.yml
  .docs/AZURE_DEVOPS_SELF_HOSTED_AGENT.md
  .docs/README.md
Due: .azure-pipelines/covenant-api-pipeline.yml

refactor: Remove .NET SDK installation template and verify SDK availability in pipelines
  .azure-pipelines/README.md
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  .azure-pipelines/covenant-identityserver-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/sigookfunctions-pipeline.yml
  .azure-pipelines/templates/dotnet-setup.yml
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

refactor: Disable automatic triggers for Covenant.Common NuGet pipeline, allowing only manual execution
  .azure-pipelines/covenant-common-nuget-pipeline.yml
Due: none

refactor: Update NuGet package push task to use DotNet CLI and enhance documentation for data disk configuration
  .azure-pipelines/covenant-common-nuget-pipeline.yml
  .docs/AZURE_DEVOPS_SELF_HOSTED_AGENT.md
Due: none

refactor: Update quantity input to allow decimal values and adjust validation accordingly
  Sigook.Web/src/pages/agency/accounting/CreatePayStub.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

refactor: Upgrade project to .NET 8, remove deprecated QrCode functionality, and update related dependencies
  .azure-pipelines/sigookfunctions-pipeline.yml
  SigookFunctions/SigookFunctions.sln
  SigookFunctions/SigookFunctions/Functions/QrCode.cs
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
  SigookFunctions/SigookFunctions/Services/QrCodeGenerator.cs
  SigookFunctions/SigookFunctions/Services/SendGridService.cs
  SigookFunctions/SigookFunctions/SigookFunctions.csproj
  SigookFunctions/Tests/SendInvitationToApplyTest.cs
  SigookFunctions/Tests/SigookApiTest.cs
  SigookFunctions/Tests/Tests.csproj
  SigookFunctions/global.json
Due: none

Flavors fix
  SigookApp/ios/Flutter/Production-Debug.xcconfig
  SigookApp/ios/Flutter/Production-Profile.xcconfig
  SigookApp/ios/Flutter/Production-Release.xcconfig
  SigookApp/ios/Flutter/Staging-Debug.xcconfig
  SigookApp/ios/Flutter/Staging-Profile.xcconfig
  SigookApp/ios/Flutter/Staging-Release.xcconfig
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  SigookApp/ios/Runner/Info.plist
  SigookApp/sigook-build-log.txt
Due: .azure-pipelines/sigookapp-pipeline.yml

Refactor SigookFunctions to use Azure Functions Worker SDK
  .azure-pipelines/sigookfunctions-pipeline.yml
  SigookFunctions/SigookFunctions/Functions/ScheduleTasks.cs
  SigookFunctions/SigookFunctions/Functions/SendEmail.cs
  SigookFunctions/SigookFunctions/Functions/SendInvitationToApply.cs
  SigookFunctions/SigookFunctions/Options/AuthOptions.cs
  SigookFunctions/SigookFunctions/Options/SendGridOptions.cs
  SigookFunctions/SigookFunctions/Options/SigookFunctionsOptions.cs
  SigookFunctions/SigookFunctions/Options/UrlsOptions.cs
  SigookFunctions/SigookFunctions/Program.cs
  SigookFunctions/SigookFunctions/Properties/launchSettings.json
  SigookFunctions/SigookFunctions/Services/INotificationService.cs
  SigookFunctions/SigookFunctions/Services/ISigookApi.cs
  SigookFunctions/SigookFunctions/Services/ITokenService.cs
  SigookFunctions/SigookFunctions/Services/NotificationService.cs
  SigookFunctions/SigookFunctions/Services/SendGridService.cs
  SigookFunctions/SigookFunctions/Services/SigookApi.cs
  SigookFunctions/SigookFunctions/Services/TokenService.cs
  SigookFunctions/SigookFunctions/SigookFunctions.csproj
  SigookFunctions/SigookFunctions/Startup.cs
  SigookFunctions/SigookFunctions/Utils/Notifications.cs
  SigookFunctions/SigookFunctions/appsettings.Development.json
  SigookFunctions/SigookFunctions/appsettings.Production.json
  SigookFunctions/SigookFunctions/appsettings.Staging.json
  SigookFunctions/SigookFunctions/appsettings.json
Due: none

refactor: Update Azure pipeline to remove testing stage and add nuget.config for package sources
  .azure-pipelines/sigookfunctions-pipeline.yml
  SigookFunctions/nuget.config
Due: none

Fixing Podfile
  SigookApp/ios/Podfile
Due: .azure-pipelines/sigookapp-pipeline.yml

CocoaPods fixes
  SigookApp/ios/Flutter/Debug.xcconfig
  SigookApp/ios/Flutter/Production-Debug.xcconfig
  SigookApp/ios/Flutter/Production-Profile.xcconfig
  SigookApp/ios/Flutter/Production-Release.xcconfig
  SigookApp/ios/Flutter/Release.xcconfig
  SigookApp/ios/Flutter/Staging-Debug.xcconfig
  SigookApp/ios/Flutter/Staging-Profile.xcconfig
  SigookApp/ios/Flutter/Staging-Release.xcconfig
Due: .azure-pipelines/sigookapp-pipeline.yml

refactor: Update project to .NET 8, remove QrCode functionality, and enhance location handling in models and views
  CLAUDE.md
  Covenant.Api/Covenant.Api/Controllers/Sigook/QrCodeController.cs
  Covenant.Api/Covenant.Common/Models/Request/AgencyRequestListModel.cs
  Covenant.Api/Covenant.Common/Models/Request/GetRequestForAgencyFilter.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Request/RequestRepository.cs
  Covenant.Api/Covenant.Integration.Tests/Common/QrCodeControllerTest.cs
  Sigook.Web/src/components/agency_request/TableRequests.vue
  Sigook.Web/src/pages/company/Requests.vue
  Sigook.Web/src/pages/worker/History.vue
  Sigook.Web/src/pages/worker/Requests.vue
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Icons for app
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  SigookApp/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Sigook App camera permissions fix
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/lib/features/registration/presentation/widgets/profile_photo_picker.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Update pubspec.yaml to use date-based versioning
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Set iOS production bundle ID to com.all2job.all2job
  SigookApp/ios/Flutter/Production-Debug.xcconfig
  SigookApp/ios/Flutter/Production-Profile.xcconfig
  SigookApp/ios/Flutter/Production-Release.xcconfig
Due: .azure-pipelines/sigookapp-pipeline.yml

Add Xcode build phase for automatic date-based versioning
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/scripts/set_version.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Splash screen changes
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixes in punchcard
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
  SigookApp/pubspec.yaml
  SigookApp/scripts/build_android_production.ps1
  SigookApp/scripts/build_android_production.sh
  SigookApp/scripts/build_ios_production.ps1
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixes in punchcard
  SigookApp/lib/features/jobs/data/datasources/timesheet_remote_datasource.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

changes with versioning
  SigookApp/scripts/build_android_production.ps1
  SigookApp/scripts/build_ios_production.ps1
  SigookApp/scripts/build_ios_production.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Splash and home redirections fixed
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Pipepline in progress
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.env.example
  SigookApp/.vscode/launch.json
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/kotlin/com/sigook/sigook/MainActivity.kt
  SigookApp/fastlane/Fastfile
  SigookApp/ios/ExportOptions-staging.plist
  SigookApp/ios/Flutter/Staging-Debug.xcconfig
  SigookApp/ios/Flutter/Staging-Profile.xcconfig
  SigookApp/ios/Flutter/Staging-Release.xcconfig
  SigookApp/ios/Podfile
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  SigookApp/ios/Runner/Info.plist
  SigookApp/lib/core/config/env_loader.dart
  SigookApp/lib/main.dart
  SigookApp/lib/main_local.dart
  SigookApp/lib/main_staging.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Pipeline changes
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/fastlane/Fastfile
  SigookApp/ios/Podfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Pipeline changes
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Test Xcode Cloud build
  SigookApp/ios/ci_scripts/ci_post_clone.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

fix: Adjust step navigation logic for login flow in Register component
  Sigook.Web/src/pages/worker/Register.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Permissions and rerouting changes
  SigookApp/ios/ci_scripts/ci_post_clone.sh
  SigookApp/lib/features/jobs/presentation/widgets/punch_card_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Permissions and rerouting changes
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Final touches for the pipeline
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.vscode/launch.json
  SigookApp/android/app/build.gradle.kts
Due: .azure-pipelines/sigookapp-pipeline.yml
