Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

IOS fixes
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/technical/PIPELINES.md
  SigookApp/.gitignore
  SigookApp/CLAUDE.md
  SigookApp/fastlane/Appfile
  SigookApp/fastlane/Fastfile
  SigookApp/fastlane/Matchfile
  SigookApp/ios/ExportOptions-production.plist
  SigookApp/lib/core/config/environment.dart
  SigookApp/pubspec.yaml
Due: .azure-pipelines/sigookapp-pipeline.yml

deploy iOS
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/.gitignore
  SigookApp/Gemfile.lock
  SigookApp/ios/Flutter/AppFrameworkInfo.plist
  SigookApp/ios/Podfile.lock
  SigookApp/ios/Runner.xcodeproj/project.pbxproj
  SigookApp/ios/Runner.xcworkspace/contents.xcworkspacedata
  SigookApp/ios/Runner/AppDelegate.swift
  SigookApp/ios/Runner/Info.plist
  SigookApp/ios/scripts/set_version.sh
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing iOS deploy
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

fixing iOS build
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Pipelines improvements
  .azure-pipelines/cognitiveservices-pipeline.yml
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/database-refresh-pipeline.yml
  .azure-pipelines/sigook-functions-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/fastlane-setup.yml
  .azure-pipelines/templates/flutter-setup.yml
  .docs/technical/PIPELINES.md
  .docs/technical/SIGOOK_WEB_STRUCTURE.md
  Covenant.Api/Dockerfile
  Covenant.Api/README.md
  Sigook.Web/.dockerignore
  Sigook.Web/Dockerfile
  SigookApp/CLAUDE.md
  SigookApp/fastlane/Fastfile
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  SigookApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  SigookApp/ios/ci_scripts/ci_post_clone.sh
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Fixing iOS deploy
  .azure-pipelines/sigookapp-pipeline.yml
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

Improve version number
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/technical/PIPELINES.md
Due: .azure-pipelines/sigookapp-pipeline.yml

Deploy fixes
  .docs/technical/PIPELINES.md
  SigookApp/fastlane/Fastfile
Due: .azure-pipelines/sigookapp-pipeline.yml

feat(sigookapp): separate staging app identity per store
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/technical/PIPELINES.md
  SigookApp/CLAUDE.md
  SigookApp/README.md
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/res/values/strings.xml
  SigookApp/fastlane/Fastfile
  SigookApp/fastlane/Matchfile
  SigookApp/lib/core/widgets/feedback/environment_banner.dart
  SigookApp/lib/core/widgets/widgets.dart
  SigookApp/lib/main_common.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Limit password reset emails and fix integration tests
  .docs/technical/ARCHITECTURE.md
  .docs/technical/SIGOOK_WEB_API_MAP.md
  .docs/technical/openapi.json
  Covenant.Api/CLAUDE.md
  Covenant.Api/Covenant.Api/Configuration/RateLimitingConfiguration.cs
  Covenant.Api/Covenant.Api/Controllers/Identity/AccountController.cs
  Covenant.Api/Covenant.Api/Controllers/Identity/PasswordController.cs
  Covenant.Api/Covenant.Api/Program.cs
  Covenant.Api/Covenant.Common/Interfaces/Identity/IPasswordResetService.cs
  Covenant.Api/Covenant.Common/Repositories/Identity/IIdentityRepository.cs
  Covenant.Api/Covenant.Core.BL/Services/Identity/PasswordResetService.cs
  Covenant.Api/Covenant.Infrastructure/Repositories/Identity/IdentityRepository.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Candidates/CandidatesControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Personnel/PersonnelControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/RequestsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/RunnersControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/WorkerTimeSheetsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/WorkersControllerEmailTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequest/CompanyRequestControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequestWorker/CompanyRequestWorkerControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyRequestWorkerTimeSheet/CompanyRequestWorkerTimeSheetControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/CompanyModule/CompanyUser/CompanyUserControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/TestStartupExtensions.cs
  Covenant.Api/Covenant.Integration.Tests/Configuration/UserAdministrationMock.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerRequestTimeSheet/WorkerRequestTimeSheetControllerTest.cs
  Covenant.Api/Covenant.Tests/Identity/PasswordResetServiceTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml

fix(sigookapp): render environment banner on a Material surface
  SigookApp/lib/core/widgets/feedback/environment_banner.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Refer to the authorization server in SigookApp pipeline comments
  .azure-pipelines/sigookapp-pipeline.yml
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing pipeline
  Covenant.Api/Covenant.Api/Covenant.Api.csproj
Due: .azure-pipelines/covenant-api-pipeline.yml

Revert "feat(sigookapp): separate staging app identity per store"
  .azure-pipelines/sigookapp-pipeline.yml
  .docs/technical/PIPELINES.md
  Covenant.Api/Covenant.Api/Properties/launchSettings.json
  SigookApp/CLAUDE.md
  SigookApp/README.md
  SigookApp/android/app/build.gradle.kts
  SigookApp/android/app/src/main/res/values/strings.xml
  SigookApp/fastlane/Fastfile
  SigookApp/fastlane/Matchfile
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

More fixes
  .docs/technical/DEVELOPMENT_COMMANDS.md
  Covenant.Api/Covenant.Api/Validators/Worker/WorkerDocumentFileValidator.cs
  Covenant.Api/Covenant.Api/Validators/Worker/WorkerProfileCreateModelValidator.cs
  Covenant.Api/Covenant.Api/Validators/Worker/WorkerProfileLicenseModelValidator.cs
  Covenant.Api/Covenant.Common/Utils/Extensions/RuleBuilderExtensions.cs
  Covenant.Api/Covenant.Core.BL/Services/WorkerService.cs
  Covenant.Api/Covenant.Integration.Tests/WorkerModule/WorkerProfileTest/WorkerProfileControllerTest.cs
  Covenant.Api/Covenant.Tests/Worker/WorkerDocumentValidatorsTest.cs
  Covenant.Api/Covenant.Tests/Worker/WorkerServiceApplyTest.cs
  Sigook.Web/src/components/worker/WorkLicenseDetail.vue
  Sigook.Web/src/components/worker/WorkLicenseForm.vue
  Sigook.Web/src/composables/useCreateWorker.ts
  Sigook.Web/src/pages/worker/Register.vue
  SigookApp/.env.example
  SigookApp/.env.local
  SigookApp/.env.production
  SigookApp/.env.staging
  SigookApp/.gitignore
  SigookApp/CLAUDE.md
  SigookApp/README.md
  SigookApp/android/app/src/debug/AndroidManifest.xml
  SigookApp/android/app/src/debug/res/xml/debug_network_security_config.xml
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/licenses/data/datasources/licenses_remote_datasource.dart
  SigookApp/lib/features/profile/licenses/data/repositories/licenses_repository_impl.dart
  SigookApp/lib/features/profile/licenses/domain/repositories/licenses_repository.dart
  SigookApp/lib/features/profile/licenses/domain/usecases/upload_license.dart
  SigookApp/lib/features/profile/licenses/presentation/viewmodels/licenses_viewmodel.dart
  SigookApp/lib/features/profile/licenses/presentation/widgets/license_card.dart
  SigookApp/lib/features/profile/presentation/pages/personal_details/sections/licenses_section.dart
  SigookApp/lib/main_local.dart
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Fixing Unit tests
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Requests/RequestsControllerTest.cs
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/Workers/CommentsControllerGetTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

Fixing database pipeline
  .azure-pipelines/database-refresh-pipeline.yml
  .docs/technical/PIPELINES.md
Due: none
