Repository sigook/Applications: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-common-nuget-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/covenantweb-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Path conditions:
  .azure-pipelines/covenant-api-pipeline.yml: any of: Covenant.Api, .azure-pipelines/covenant-api-pipeline.yml, but not: Covenant.Api/**/*.md
  .azure-pipelines/covenant-common-nuget-pipeline.yml: any of: Covenant.Api/Covenant.Common, but not: Covenant.Api/Covenant.Common/**/*.md
  .azure-pipelines/covenant-identityserver-pipeline.yml: any of: Covenant.IdentityServer, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/templates, but not: Covenant.IdentityServer/**/*.md
  .azure-pipelines/covenantweb-pipeline.yml: any of: covenantWeb, .azure-pipelines/covenantweb-pipeline.yml, but not: covenantWeb/**/*.md
  .azure-pipelines/sigook-web-pipeline.yml: any of: .gitignore, Sigook.Web, .azure-pipelines/sigook-web-pipeline.yml, but not: Sigook.Web/**/*.md
  .azure-pipelines/sigookapp-pipeline.yml: any of: SigookApp, .azure-pipelines/sigookapp-pipeline.yml, .azure-pipelines/templates/flutter-setup.yml, but not: SigookApp/README.md, SigookApp/docs, SigookApp/**/*.md

Typescript migration
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
  Sigook.Web/src/main.ts
  Sigook.Web/src/store/modules/security.ts
Due: .azure-pipelines/sigook-web-pipeline.yml

Vue update
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing packages
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
Due: .azure-pipelines/sigook-web-pipeline.yml

Preferences solved
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/profile/presentation/widgets/searchable_toggle_list.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Preferences solved
  SigookApp/lib/features/jobs/presentation/widgets/timesheet_tab.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Typescript migration
  Covenant.Api/Covenant.Core.BL/Services/PayStubService.cs
  Sigook.Web/package-lock.json
  Sigook.Web/package.json
  Sigook.Web/src/components/agency_company/CompanyDetailTab.vue
  Sigook.Web/src/components/agency_company/ContactInformation.vue
  Sigook.Web/src/components/agency_request/AgencyRequestDetail.vue
  Sigook.Web/src/components/worker/ProfilePersonal.vue
  Sigook.Web/src/components/worker/WorkExperienceForm.vue
  Sigook.Web/src/components/worker/WorkImageDetail.vue
  Sigook.Web/src/main.ts
  Sigook.Web/src/mixins/multipartUploadMixin.ts
  Sigook.Web/src/mixins/phoneFormatMixin.ts
  Sigook.Web/src/pages/worker/PunchCard.vue
  Sigook.Web/src/utils/applicationInsights.ts
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml

Fixing pipelines
  .azure-pipelines/sigook-web-pipeline.yml
Due: .azure-pipelines/sigook-web-pipeline.yml

Dockerfile fixes
  .azure-pipelines/sigook-web-pipeline.yml
  Sigook.Web/Dockerfile
Due: .azure-pipelines/sigook-web-pipeline.yml

Fixing a bug
  Sigook.Web/src/pages/landing/JobSeekers.vue
Due: .azure-pipelines/sigook-web-pipeline.yml

Welcome Screen re designed
  SigookApp/lib/core/theme/app_theme.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing Azure Function time
  Sigook.Functions/Sigook.Functions/Functions/ScheduleTasks.cs
Due: none

email notifications on pipelines
  .azure-pipelines/covenant-api-pipeline.yml
  .azure-pipelines/covenant-web-pipeline.yml
  .azure-pipelines/sigook-web-pipeline.yml
  .azure-pipelines/sigookapp-pipeline.yml
  .azure-pipelines/templates/notify-deployment.yml
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/covenant-identityserver-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Welcome screen re designed
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Test
  .azure-pipelines/covenant-api-pipeline.yml
Due: .azure-pipelines/covenant-api-pipeline.yml

Update covenant pipeline
  .azure-pipelines/covenant-api-pipeline.yml
Due: .azure-pipelines/covenant-api-pipeline.yml

Test emails
  .azure-pipelines/covenant-api-pipeline.yml
Due: .azure-pipelines/covenant-api-pipeline.yml

README file updated
  SigookApp/README.md
Due: none

Update email template
  .azure-pipelines/templates/notify-deployment.yml
Due: .azure-pipelines/covenant-identityserver-pipeline.yml

Update template
  .azure-pipelines/covenant-api-pipeline.yml
Due: .azure-pipelines/covenant-api-pipeline.yml

Deleted some useless files
  SigookApp/docs/ENHANCEMENTS_SUMMARY.md
  SigookApp/docs/OAUTH_LOGOUT_SETUP.md
  SigookApp/docs/RIVERPOD_3_MIGRATION.md
  SigookApp/lib/core/network/api_client.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Small fixes
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Fixing Unit Tests
  Covenant.Api/Covenant.Integration.Tests/AgencyModule/AgencyRequestWorker/AgencyRequestWorkerControllerTest.cs
Due: .azure-pipelines/covenant-api-pipeline.yml

User's info page done
  SigookApp/.vscode/launch.json
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.freezed.dart
  SigookApp/lib/features/profile/data/models/worker_profile_model.g.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/domain/entities/worker_profile.dart
  SigookApp/lib/features/profile/domain/usecases/update_worker_profile.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Small fixes and changes
  SigookApp/.claude/settings.local.json
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

.vscode and undesired files are ignored
  .claude/skills/ef-migration/SKILL.md
  .gitignore
  Covenant.Api/.vscode/tasks.json
  SigookApp/.vscode/README.md
  SigookApp/.vscode/launch.json
  SigookApp/.vscode/tasks.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

.vscode and undesired files are ignored
  SigookApp/.claude/settings.local.json
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

Revert ".vscode and undesired files are ignored"
  SigookApp/.claude/settings.local.json
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

Reapply ".vscode and undesired files are ignored"
  SigookApp/.claude/settings.local.json
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

Revert "Reapply ".vscode and undesired files are ignored""
  SigookApp/.claude/settings.local.json
  SigookApp/.gitignore
Due: .azure-pipelines/sigookapp-pipeline.yml

Revert ".vscode and undesired files are ignored"
  .claude/skills/ef-migration/SKILL.md
  .gitignore
  Covenant.Api/.vscode/tasks.json
  SigookApp/.vscode/README.md
  SigookApp/.vscode/launch.json
  SigookApp/.vscode/tasks.json
Due: .azure-pipelines/covenant-api-pipeline.yml, .azure-pipelines/sigook-web-pipeline.yml, .azure-pipelines/sigookapp-pipeline.yml

Revert "Small fixes and changes"
  SigookApp/.claude/settings.local.json
  SigookApp/lib/core/routing/app_router.dart
  SigookApp/lib/features/profile/data/datasources/profile_remote_datasource.dart
  SigookApp/lib/features/profile/data/repositories/profile_repository_impl.dart
  SigookApp/lib/features/profile/presentation/pages/user_profile_page.dart
  SigookApp/lib/features/splash/presentation/pages/splash_screen.dart
  SigookApp/lib/features/welcome/presentation/pages/welcome_page.dart
Due: .azure-pipelines/sigookapp-pipeline.yml

Undesired files deleted
  SigookApp/UserInfoPageContext.txt
Due: .azure-pipelines/sigookapp-pipeline.yml
